/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, /*#cboxOverlay,*/ #cboxWrapper{height: 100% !important; position:absolute; left: inherit !important; top:0 !important; right:0 !important; z-index:9999; overflow:inherit !important;}
#colorbox{ width: 620px !important; right: 0 !important; top: 0 !important; left: inherit !important;}
#cboxWrapper {max-width:620px !important; height: 100% !important; background: #000 !important;}
#cboxOverlay{position:fixed; width: auto; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:inherit !important; /*-webkit-overflow-scrolling: touch;*/}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: none; opacity: 0; filter: alpha(opacity = 0);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0; display: none;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0; display: none;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px; display: none;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px; display: none;}
    #cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y; display: none;}
    #cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y; display: none;} 
    #cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x; display: none;}
    #cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x; display: none;}
    #cboxContent{background:#000; width: 620px !important; height: 100% !important;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:0; width: 620px !important;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; top: 20px; right:10px; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}







@media screen and (max-width: 1600px) and (min-width: 1360px){
#colorbox, /*#cboxOverlay,*/ #cboxWrapper{height: 100% !important; position:absolute; left: inherit !important; top:0 !important; right:0 !important; z-index:9999; overflow:inherit !important;}
#colorbox{ width: 520px !important; right: 0 !important; top: 0 !important; left: inherit !important;}
#cboxWrapper {max-width:520px !important; height: 100% !important; background: #000 !important;}
#cboxContent{background:#000; width: 520px !important; height: 100% !important;}
#cboxLoadedContent{margin-bottom:0; width: 520px !important;}
}


@media screen and (max-width: 1000px) and (min-width: 769px){
#colorbox, /*#cboxOverlay,*/ #cboxWrapper{height: 100% !important; position:absolute; left: inherit !important; top:0 !important; right:0 !important; z-index:9999; overflow:inherit !important;}
#colorbox{ width: 370px !important; right: 0 !important; top: 0 !important; left: inherit !important;}
#cboxWrapper {max-width:370px !important; height: 100% !important; background: #000 !important;}
#cboxContent{background:#000; width: 370px !important; height: 100% !important;}
#cboxLoadedContent{margin-bottom:0; width: 370px !important;}
}

@media screen and (max-width: 768px) and (min-width: 480px){
#colorbox, /*#cboxOverlay,*/ #cboxWrapper{height: 100% !important; min-height:670px; position:absolute; left: 50% !important; top:0 !important; right:0 !important; z-index:9999; overflow:inherit !important; margin-left: -240px;}
#colorbox{ width: 480px !important; right: inherit !important; top: 0 !important; left: 50% !important; margin-left: -240px;}
#cboxWrapper {max-width:480px !important; height: 100% !important; background: #000 !important;}
#cboxContent{background:#000; width: 480px !important; height: 100% !important;}
#cboxLoadedContent{margin-bottom:0; width: 480px !important;}
}

@media screen and (max-width: 480px){
#colorbox, /*#cboxOverlay,*/ #cboxWrapper{height: 100% !important; min-height:650px; position:absolute; left: 50% !important; top:0 !important; right:0 !important; z-index:9999; overflow:inherit !important; margin-left: -150px;}
#colorbox{ width: 300px !important; right: inherit !important; top: 0 !important; left: 50% !important; margin-left: -150px;}
#cboxWrapper {max-width:300px !important; height: 100% !important; background: #000 !important;}
#cboxContent{background:#000; width: 300px !important; height: 100% !important;}
#cboxLoadedContent{margin-bottom:0; width: 300px !important;}
}