@media screen and (max-width: 1600px) and (min-width: 1000px){
#foto .titulo{
	width: 530px;
	position: absolute;
	left: 2%;
	top: 6%;
}
#foto h1{
	font-family: 'syncopatebold';
	font-size: 70px;
	text-align: center;
	line-height: .85;
	color: #FEE18D;
}
#foto h1 span.stackhouse{
	font-family: 'arvobold';
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #FFFFFF;
	display: block;
}
#foto h1 span.shakes{
	font-size: 67px;
}
#foto p{
	font-family: 'arvobold';
	font-size: 30px;
	text-align: left;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 0 0 40px;
}



form#fdescuento{
	width: 420px;
	height: 100%;
	min-height: 670px;
	overflow: hidden;
	padding: 0 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: #000000;
}
form#fdescuento h2{
	font-family: 'arvobold';
	font-size: 24px;
	text-align: left;
	color: #E00027;
	margin: 0 0 25px 0;
	padding: 25px 0 0 0;
}
form#fdescuento h2 span.descuento{
	font-size: 40px;
	color: #FFFFFF;
}
form#fdescuento h2 span.burgers{
	font-size: 34px;
}

form#fdescuento .fila{
	width: 420px;
	overflow: hidden;
	margin: 0 0 10px 0;
}
form#fdescuento label{
	font-family: 'montserratregular';
	font-size: 16px;
	color: #FFFFFF;
	display: block;
	margin: 0 0 5px 0;
}
form#fdescuento label#recibir{
	width: auto;
	float: left;
	line-height: 30px;
}
form#fdescuento input{
	width: 96%;
	height: 33px;
	padding: 0 2%;
	border: 1px solid #AFAFAF;
	background: #FFFFFF;
}
form#fdescuento input.fecha{
	width: 26%;
	float: left;
}
form#fdescuento input#r-dia, form#fdescuento input#r-mes{
	margin: 0 4.25% 0 0;
}
form#fdescuento input[type="checkbox"]{
	width: 30px;
	height: 30px;
	float: right;
}
form#fdescuento input[type="submit"]{
	width: 180px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	cursor: pointer;
	background: #E00027;
	font-family: 'montserratbold';
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
form#fdescuento select{
	width: 100%;
	height: 36px;
	padding: 0px;
}
form#fdescuento a.terminos-condiciones{
	font-family: 'montserratbold';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	max-width: 235px;
	display: block;
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #E00027;
}


/**********************************/
/*-----TERMINOS Y CONDICIONES-----*/
/**********************************/
#ventana{
	width: 520px !important;
	min-height: 670px;
	overflow: hidden;
}
#ventana h2{
	font-family: 'arvobold';
	font-size: 30px;
	text-align: center;
	color: #E00027;
	margin: 0 0 40px 0;
	padding: 60px 0 0 0;
}
ul.lista-terminos{
	padding: 0 50px;
}
ul.lista-terminos li{
	font-family: 'montserratbold';
	font-size: 16px;
	line-height: 1.3;
	color: #FFFFFF;
	margin: 0 0 20px 0;
}





.gracias{
	width: 100%;
	height: 100%;
	padding: 0;
	position: fixed;
	background: url(../img/gracias.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.gracias img.logo{
	display: block;
	margin: 0 auto 60px auto;
	padding: 10% 0 0 0;
}
.gracias h2{
	font-family: 'arvobold';
	font-size: 45px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.gracias p{
	font-family: 'montserratregular';
	font-size: 32px;
	text-align: center;
	color: #FFFFFF;
	width: 800px;
	margin: 0 auto;
}
.gracias .descubre{
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
	padding: 50px 0 0 0;
}
.gracias .descubre p{
	font-family: 'montserratbold';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 80px;
	color: #FFFFFF;
	width: 500px;
	float: left;
}
.gracias .descubre a.btn-descubre{
	font-family: 'montserratbold';
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 80px;
	color: #FFFFFF;
	width: 200px;
	height: 80px;
	display: block;
	float: left;
	background: #E00027;
}

}
