html{
	height: 100%;
}
body{
	font-family: 'montserratregular', Helvetica, Arial, sans-serif;
	height: 100%;
	background: #000000;
}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo-bold-webfont.eot');
    src: url('../fonts/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo-bold-webfont.woff') format('woff'),
         url('../fonts/arvo-bold-webfont.ttf') format('truetype'),
         url('../fonts/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syncopatebold';
    src: url('../fonts/syncopate-bold-webfont.eot');
    src: url('../fonts/syncopate-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/syncopate-bold-webfont.woff2') format('woff2'),
         url('../fonts/syncopate-bold-webfont.woff') format('woff'),
         url('../fonts/syncopate-bold-webfont.ttf') format('truetype'),
         url('../fonts/syncopate-bold-webfont.svg#syncopatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}


#foto{
	width: 72%;
	height: 100%;
	float: left;
	position: relative;
	background: url(../img/burgers-shakes2.jpg) no-repeat center 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#foto .titulo{
	width: 530px;
	position: absolute;
	left: 8%;
	top: 6%;
}
#foto h1{
	font-family: 'syncopatebold';
	font-size: 80px;
	text-align: center;
	line-height: .85;
	color: #FEE18D;
}
#foto h1 span.stackhouse{
	font-family: 'arvobold';
	font-size: 45px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #FFFFFF;
	display: block;
}
#foto h1 span.shakes{
	font-size: 76px;
}
#foto p{
	font-family: 'arvobold';
	font-size: 35px;
	text-align: left;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 0 0 10px;
}



form#fdescuento{
	width: 520px;
	height: 100%;
	overflow: hidden;
	padding: 0 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: #000000;
}
form#fdescuento a.terminos-condiciones:focus{
	outline: none;
	border-bottom: 1px solid #E00027;
}
form#fdescuento h2{
	font-family: 'arvobold';
	font-size: 28px;
	text-align: left;
	color: #E00027;
	margin: 0 0 40px 0;
	padding: 40px 0 0 0;
}
form#fdescuento h2 span.descuento{
	font-size: 48px;
	color: #FFFFFF;
}
form#fdescuento h2 span.burgers{
	font-size: 41px;
}

form#fdescuento .fila{
	width: 520px;
	overflow: hidden;
	margin: 0 0 20px 0;
}
form#fdescuento label{
	font-family: 'montserratregular';
	font-size: 20px;
	color: #FFFFFF;
	display: block;
	margin: 0 0 5px 0;
}
form#fdescuento label#recibir{
	width: auto;
	float: left;
	line-height: 40px;
}
form#fdescuento input{
	width: 96%;
	height: 50px;
	padding: 0 2%;
	border: 1px solid #AFAFAF;
	background: #FFFFFF;
	font-size: 18px;
	color: #646464;
}
form#fdescuento input.fecha{
	width: 26%;
	float: left;
	text-align: center;
}
form#fdescuento input#r-dia, form#fdescuento input#r-mes{
	margin: 0 4.25% 0 0;
}
form#fdescuento input[type="checkbox"]{
	width: 40px;
	height: 40px;
	float: right;
}
form#fdescuento input[type="submit"]{
	width: 180px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	cursor: pointer;
	background: #E00027;
	font-family: 'montserratbold';
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
form#fdescuento select{
	width: 100%;
	max-height: 50px;
	padding: 17px 0;

}
form#fdescuento a.terminos-condiciones{
	font-family: 'montserratbold';
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	max-width: 290px;
	display: block;
	margin: 20px auto 0 auto;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #E00027;
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center;
}

/**********************************/
/*-----TERMINOS Y CONDICIONES-----*/
/**********************************/
#ventana{
	width: 620px !important;
	overflow: hidden;
}
#ventana h2{
	font-family: 'arvobold';
	font-size: 38px;
	text-align: center;
	color: #E00027;
	margin: 0 0 50px 0;
	padding: 150px 0 0 0;
}
ul.lista-terminos{
	padding: 0 50px;
}
ul.lista-terminos li{
	font-family: 'montserratbold';
	font-size: 20px;
	line-height: 1.3;
	color: #FFFFFF;
	margin: 0 0 20px 0;
	list-style: square;
	list-style-position: outside;
}





.gracias{
	width: 100%;
	height: 90%;
	padding: 10% 0 0 0;
	position: fixed;
	background: url(../img/gracias.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.gracias img.logo{
	display: block;
	margin: 0 auto 100px auto;
}
.gracias h2{
	font-family: 'arvobold';
	font-size: 55px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.gracias p{
	font-family: 'montserratregular';
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	width: 950px;
	margin: 0 auto;
}
.gracias .descubre{
	width: 900px;
	overflow: hidden;
	margin: 0 auto;
	padding: 50px 0 0 0;
}
.gracias .descubre p{
	font-family: 'montserratbold';
	font-size: 40px;
	text-transform: uppercase;
	line-height: 80px;
	color: #FFFFFF;
	width: 600px;
	float: left;
}
.gracias .descubre a.btn-descubre{
	font-family: 'montserratbold';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 80px;
	color: #FFFFFF;
	width: 220px;
	height: 80px;
	display: block;
	float: left;
	background: #E00027;
}

.form-error {
	display: none;
}
