@media screen and (max-width: 768px) and (min-width: 480px){
#foto{
	width: 100%;
	height: 100%;
	min-height: 700px;
	float: left;
	position: relative;
	background: url(../img/burgers-shakes.jpg) no-repeat center 0 #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	
#foto .titulo{
	width: 380px;
	margin-left: -190px;
	position: absolute;
	left: 50%;
	top: 2%;
	display: none;
}
#foto h1{
	font-family: 'syncopatebold';
	font-size: 50px;
	text-align: center;
	line-height: .85;
	color: #FEE18D;
}
#foto h1 span.stackhouse{
	font-family: 'arvobold';
	font-size: 25px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #FFFFFF;
	display: block;
}
#foto h1 span.shakes{
	font-size: 47px;
}
#foto p{
	font-family: 'arvobold';
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 10px 0 0 0;
}



form#fdescuento{
	width: 380px;
	height: auto;
	overflow: hidden;
	margin-left: -215px;
	padding: 0 25px 30px 25px;
	position: absolute;
	top: 20px;
	left: 50%;
	right: inherit;
	z-index: 10;
	-webkit-background: rgba(0, 0, 0, .65);
	-moz-background: rgba(0, 0, 0, .65);
	-o-background: rgba(0, 0, 0, .65);
	-ms-background: rgba(0, 0, 0, .65);
	background: rgba(0, 0, 0, .65);
}
form#fdescuento h2{
	font-family: 'arvobold';
	font-size: 21px;
	text-align: left;
	color: #E00027;
	margin: 0 0 20px 0;
	padding: 20px 0 0 0;
}
form#fdescuento h2 span.descuento{
	font-size: 35px;
	color: #FFFFFF;
}
form#fdescuento h2 span.burgers{
	font-size: 30px;
}

form#fdescuento .fila{
	width: 380px;
	overflow: hidden;
	margin: 0 0 10px 0;
}
form#fdescuento label{
	font-family: 'montserratregular';
	font-size: 15px;
	color: #FFFFFF;
	display: block;
	margin: 0 0 5px 0;
}
form#fdescuento label#recibir{
	font-size: 14px;
	width: auto;
	float: left;
	line-height: 30px;
}
form#fdescuento input{
	width: 96%;
	height: 33px;
	padding: 0 2%;
	border: 1px solid #AFAFAF;
	background: #FFFFFF;
	font-size: 14px;
}
form#fdescuento input.fecha{
	width: 26%;
	float: left;
}
form#fdescuento input#r-dia, form#fdescuento input#r-mes{
	margin: 0 4% 0 0;
}
form#fdescuento input[type="checkbox"]{
	width: 25px;
	height: 25px;
	float: right;
}
form#fdescuento input[type="submit"]{
	width: 150px;
	height: 45px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	cursor: pointer;
	background: #E00027;
	font-family: 'montserratbold';
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
form#fdescuento select{
	width: 100%;
	height: 36px;
	padding: 0px;
}
form#fdescuento a.terminos-condiciones{
	font-family: 'montserratbold';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	max-width: 235px;
	display: block;
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #E00027;
}


/**********************************/
/*-----TERMINOS Y CONDICIONES-----*/
/**********************************/
#ventana{
	width: 480px !important;
	overflow: hidden;
	margin-left: -240px;
	position: absolute;
	left: 50%;
}
#ventana h2{
	font-family: 'arvobold';
	font-size: 30px;
	text-align: center;
	color: #E00027;
	margin: 0 0 40px 0;
	padding: 60px 0 0 0;
}
ul.lista-terminos{
	padding: 0 25px;
}
ul.lista-terminos li{
	font-family: 'montserratbold';
	font-size: 16px;
	line-height: 1.3;
	color: #FFFFFF;
	margin: 0 0 20px 10px;
}





.gracias{
	width: 100%;
	height: 100%;
	padding: 0;
	position: fixed;
	background: url(../img/gracias.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.gracias img.logo{
	display: block;
	padding: 80px 0 0 0;
	margin: 0 auto 40px auto;
}
.gracias h2{
	font-family: 'arvobold';
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.gracias p{
	font-family: 'montserratregular';
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
	width: 480px;
	margin: 0 auto;
}
.gracias .descubre{
	width: 480px;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
.gracias .descubre p{
	font-family: 'montserratbold';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 80px;
	color: #FFFFFF;
	width: 500px;
	float: none;
}
.gracias .descubre a.btn-descubre{
	font-family: 'montserratbold';
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 60px;
	color: #FFFFFF;
	width: 150px;
	height: 60px;
	display: block;
	float: none;
	margin: 0 auto;
	background: #E00027;
}

}















@media screen and (max-width: 480px){
#foto{
	width: 100%;
	height: 100%;
	min-height: 650px;
	float: left;
	position: relative;
	background: url(../img/burgers-shakes.jpg) no-repeat center 0 #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	
#foto .titulo{
	width: 300px;
	margin-left: -150px;
	position: absolute;
	left: 50%;
	top: 2%;
	display: none;
}
#foto h1{
	font-family: 'syncopatebold';
	font-size: 32px;
	text-align: center;
	line-height: .85;
	color: #FEE18D;
}
#foto h1 span.stackhouse{
	font-family: 'arvobold';
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #FFFFFF;
	display: block;
}
#foto h1 span.shakes{
	font-size: 30px;
}
#foto p{
	font-family: 'arvobold';
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 10px 0 0 0;
}



form#fdescuento{
	width: 270px;
	height: auto;
	overflow: hidden;
	margin-left: -150px;
	padding: 0 15px 20px 15px;
	position: absolute;
	top: 20px;
	left: 50%;
	right: inherit;
	z-index: 10;
	-webkit-background: rgba(0, 0, 0, .65);
	-moz-background: rgba(0, 0, 0, .65);
	-o-background: rgba(0, 0, 0, .65);
	-ms-background: rgba(0, 0, 0, .65);
	background: rgba(0, 0, 0, .65);
}
form#fdescuento h2{
	font-family: 'arvobold';
	font-size: 15px;
	text-align: left;
	color: #E00027;
	margin: 0 0 20px 0;
	padding: 20px 0 0 0;
}
form#fdescuento h2 span.descuento{
	font-size: 26px;
	color: #FFFFFF;
}
form#fdescuento h2 span.burgers{
	font-size: 22px;
}

form#fdescuento .fila{
	width: 270px;
	overflow: hidden;
	margin: 0 0 10px 0;
}
form#fdescuento label{
	font-family: 'montserratregular';
	font-size: 15px;
	color: #FFFFFF;
	display: block;
	margin: 0 0 5px 0;
}
form#fdescuento label#recibir{
	font-size: 12px;
	width: auto;
	float: left;
	line-height: 18px;
}
form#fdescuento input{
	width: 96%;
	height: 33px;
	padding: 0 2%;
	border: 1px solid #AFAFAF;
	background: #FFFFFF;
	font-size: 14px;
}
form#fdescuento input.fecha{
	width: 26%;
	float: left;
}
form#fdescuento input#r-dia, form#fdescuento input#r-mes{
	margin: 0 3.5% 0 0;
}
form#fdescuento input[type="checkbox"]{
	width: 18px;
	height: 18px;
	float: right;
}
form#fdescuento input[type="submit"]{
	width: 150px;
	height: 45px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	cursor: pointer;
	background: #E00027;
	font-family: 'montserratbold';
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
form#fdescuento select{
	width: 100%;
	height: 36px;
}
form#fdescuento a.terminos-condiciones{
	font-family: 'montserratbold';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	max-width: 230px;
	display: block;
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #E00027;
}


/**********************************/
/*-----TERMINOS Y CONDICIONES-----*/
/**********************************/
#ventana{
	width: 300px !important;
	overflow: hidden;
	margin-left: -150px;
	position: absolute;
	left: 50%;
}
#ventana h2{
	font-family: 'arvobold';
	font-size: 25px;
	text-align: center;
	color: #E00027;
	margin: 0 0 40px 0;
	padding: 40px 0 0 0;
}
ul.lista-terminos{
	padding: 0 15px;
}
ul.lista-terminos li{
	font-family: 'montserratbold';
	font-size: 14px;
	line-height: 1.3;
	color: #FFFFFF;
	margin: 0 0 20px 10px;
}





.gracias{
	width: 100%;
	height: 100%;
	padding: 0;
	position: fixed;
	background: url(../img/gracias.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.gracias img.logo{
	display: block;
	padding: 80px 0 0 0;
	margin: 0 auto 40px auto;
	width: 70%;
}
.gracias h2{
	font-family: 'arvobold';
	font-size: 25px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.gracias p{
	font-family: 'montserratregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	width: 300px;
	margin: 0 auto;
}
.gracias .descubre{
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.gracias .descubre p{
	font-family: 'montserratbold';
	font-size: 20px;
	text-transform: uppercase;
	line-height: 40px;
	color: #FFFFFF;
	width: 300px;
	float: none;
}
.gracias .descubre a.btn-descubre{
	font-family: 'montserratbold';
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 60px;
	color: #FFFFFF;
	width: 150px;
	height: 60px;
	display: block;
	float: none;
	margin: 0 auto;
	background: #E00027;
}

}
