/* CSS Document */

@font-face{
font-family:csm-font;
src: url('/fonts/dinneuzeitgrotesk-boldcond-regular-webfont.ttf'),
     url('/fonts/dinneuzeitgrotesk-boldcond-regular-webfont.eot'); /* IE9 ?#iefix */
}
@font-face{
font-family:csm-font2;
src: url('/fonts/dinneuzeitgrotesk-light-regular-webfont.ttf'),
     url('/fonts/dinneuzeitgrotesk-light-regular-webfont.eot'); /* IE9 ?#iefix */
}
@font-face{
font-family:csm-font3;
src: url('/fonts/gothamrnd-bold.ttf'),
     url('/fonts/gothamrnd-bold.eot'); /* IE9 ?#iefix */
}
@font-face {
    font-family:csm-font4;
    src: url('/fonts/dinschrifttgif-webfont.eot');
    src: url('/fonts/dinschrifttgif-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('/fonts/dinschrifttgif-webfont.woff2') format('woff2'),
	 	 url('/fonts/dinschrifttgif-webfont.woff') format('woff'),
		 url('/fonts/dinschrifttgif-webfont.ttf') format('truetype'),
		 url('/fonts/dinschrifttgif-webfont.svg#dinschrifttgifregular') format('svg');
		 font-weight: normal;
		 font-style: normal;
}
.bold{
	font-family:csm-font;
	margin:0 auto;
}
.regular{
	font-family:csm-font2;
	margin:0 auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus { outline: 0;}
[hidden] {
    display: none;
}
html {
	font:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family:csm-font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="reset"],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
a, a > * {
    color: #FFF;
    text-decoration: none;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}
sup { 
	font-size:75%;
	vertical-align: top;	
}
/* ----------------------------------------------------------------
    Basic Document Styles
-----------------------------------------------------------------*/
body {
	line-height: 1;
	color: #FFF;
	font:20px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family:csm-font;
	text-rendering: optimizelegibility;
	background:url(../images/background.jpg) no-repeat scroll center top #000;
}
.clearfix {}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {clear: both;}
.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}
.fl-izq{float:left;}
.fl-der{float:right;}
.separador{display:block;height:30px;}
.cabecera{width:100%;}
.container{width:1100px;margin:0 auto;}
.logo{float:left;}
.logo a {
	float:left;
	display:block;
	width:210px;
	height:210px;
	margin-left:8px;
	text-indent:-9999px;
	position:absolute;
	top:0;
	background: url("/images/logo-fridays.png") no-repeat scroll center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:1000;
}
.menu0, .menu1, .menu2, .menu3 {
	text-transform:uppercase;
	color:#FFF;
	padding:0;
}
.menu2, .menu3 {
	font-size:20px;
	line-height:60px;
	margin-top:10px;
}
.menu0 {
	float:left;
	font-size:22px;
	width:870px;
	padding-left:230px;
	margin-bottom:6px;
	line-height:60px;
	background:rgba(0,0,0,0.6);
}
.menu1 {
	float:left;
	font-size:22px;
	width:870px;
	padding-left:230px;
	margin-bottom:6px;
	line-height:60px;
	background:rgba(0,0,0,0.6);
}
.menu2{float:left;}
.menu3 {float:right;}
.menu0 ul {
	float:left;
	margin-left:20px;
	padding-left:20px;
	background:url(../images/sep-menu0.gif) no-repeat left center;
}
.menu3 ul {float:right;}
.menu0 li, .menu1 li, .menu2 li, .menu3 li{float:left;}
.menu0 li {
	background: url(../images/bg-fbdiv.png) right no-repeat transparent;
	padding-left:20px;
	padding-right:24px;
}
.menu0 li:last-child{
	background:none;
	padding-right:0;
}
.menu1 li {
	background: url(../images/sep-menu.png) right no-repeat transparent;
	padding-left:10px;
	padding-right:24px;
}
.menu2 li, .menu3 li {
	background: url(../images/sep-menu2.png) right no-repeat transparent;
	padding-left:6px;
	padding-right:18px;
}
.menu2 li:first-child, .menu3 li:first-child {padding-left:0;}
.menu1 li:last-child, .menu2 li:last-child, .menu3 li:last-child {
	background:none;
	padding-right:0;
}
.menu1 a, .menu2 a, .menu3 a {
	color:#f0f0f0;
	text-decoration:none;
}
.menu1 a:hover, .menu1 a:active, .menu2 a:hover, .menu2 a:active, .menu3 a:hover, .menu3 a:active{color:#CC3333;}
.menu0 h1{
	float:left;
	text-transform:uppercase;
	line-height:25px;
	padding-top:18px;
}
.fb {
	float:right;
	height:60px;
	margin:35px 0 25px 5px;
	line-height:50px;
}
.fb ul {
	float:left;
	padding:0 10px;
}
.fb li {
	float:left;
	padding-left:12px;
	padding-right:15px;
	background: url(../images/bg-fbdiv.png) right center no-repeat transparent;
	height:50px;
}
.fb li a {float:left;font-size: 16px;}
.fb-gusta {
	float:left;
	width: 120px;
	padding-top:16px;
	height:35px;
}
.fb-icon {
	float:left;
	width: 30px;
	height: 50px;
	background: url(../images/fb-icon.png) no-repeat scroll center center transparent;
	color: #FFFFFF;
	text-decoration: none;
	text-indent: -1000em;
}
.fb li span {
	float:left;
	display:block;
	width:10px;
	height:50px;
	background: url(../images/fl-izq.png) no-repeat right center transparent;
}
.seguidores {
	float:left;
	background:#FFF;
	color:#000;
	line-height:20px;
	margin-top:15px;
	padding:0 10px;
	font-size:14px;
}
.btn-reservas {
	float:right;
	display:block;
	width:150px;
	height:40px;
	line-height:40px;
	margin:5px 0 10px;
	text-align:center;
	font-size:20px;
	background:#CF0907;
}
.bg-transp{background:rgba(0,0,0,0.4);}
.princ{width:100%;}
.me-gusta1{
	position:absolute;
	top:190px;
	left:10px;
	z-index:1000;
	margin:0;
	padding:0;
	width:120px;
	height:20px;
}
.me-gusta2{
	display:block;
	float:left;
	width:100%;
}
.me-gusta2 iframe{
	float:left;
	margin:5px 0 5px 20px;
	padding:0;
	width:120px;
	height:20px;
}

.me-gusta3{
	position:absolute;
	top:296px;
	left:10px;
	z-index:1000;
	margin:0;
	padding:0;
	width:120px;
	height:20px;
}
.me-gusta4{
	display:block;
	float:left;
	width:100%;
}
.me-gusta4 iframe{
	float:left;
	margin:5px 0 5px 20px;
	padding:0;
	width:120px;
	height:20px;
}
.sin-img p{height:150px !important;}


/** COMIDAS **/
.menu-comidas {
	float:left;
	width:232px;
	margin-top:10px;
}
.menu-comidas ul{display:block;}
.menu-comidas select{display:none;}
.menu-comidas li {
	margin-bottom:5px;
	background:rgba(0,0,0,0.5);
}
.menu-comidas li a {
	color:#FFF;
	font-size:22px;
	font-weight:400;
	line-height:40px;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:20px;
	padding-left:30px;
	background:url(../images/vin-mas.png) no-repeat left center;
}
.menu-comidas .activo{background:url(../images/vin-menos.png) no-repeat left center;}
.com-tit {
	float:left;
	width:1100px;
	height:343px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.com-wine-beer{background: url("/images/comidas/wine-beer.jpg") no-repeat scroll center center transparent;}
.com-starters{background: url("/images/comidas/starters.jpg") no-repeat scroll center center transparent;}
.com-jack-daniels-grill{background: url("/images/comidas/jack-daniels-grill.jpg") no-repeat scroll center center transparent;}
.com-tex-mex{background: url("/images/comidas/tex-mex.jpg") no-repeat scroll center center transparent;}
.com-steaks{background: url("/images/comidas/steaks.jpg") no-repeat scroll center center transparent;}
.com-signature-mains{background: url("/images/comidas/signature-mains.jpg") no-repeat scroll center center transparent;}
.com-salads-soups{background: url("/images/comidas/salads-soups.jpg") no-repeat scroll center center transparent;}
.com-burgers{background: url("/images/comidas/burgers.jpg") no-repeat scroll center center transparent;}
.com-sandwiches{background: url("/images/comidas/sandwiches.jpg") no-repeat scroll center center transparent;}
.com-desserts{background: url("/images/comidas/desserts.jpg") no-repeat scroll center center transparent;}
.com-tit1{
	float:right;
	text-align:right;
	margin-top:250px;
	margin-right:50px;
}
.com-tit1 h1 {
	font-size:44px;
	line-height:0.5;
	text-transform:uppercase;
	text-shadow:3px 3px 5px #000;
}
.com-tit1 h2 {
	margin-top:15px;
	font-size:24px;
	line-height:1;
	text-transform:uppercase;
	text-shadow:2px 2px 4px #000;
}
.com-promo h2{
	color:#FFF;
	background:rgba(0,0,0,0.4);
	padding:10px;
	font-size:22px;
	line-height:20px;
	vertical-align:middle;
	text-transform:uppercase;
}
.comidas {
	float:left;
	width:868px;
	margin-top:2px;
	margin-bottom:30px;
}
.com1{margin-left:7px;}
.com1 li, .com2 li {
	position:relative;
	float:left;
	background:rgba(3, 3, 3, 0.68);
	width: 275px;
	margin-top:10px;
	margin-left:12px;
}
.img-comidas {
	position:relative;
	top:0;
	z-index:2;
	border:2px solid white;
	margin: 4px 4px 0 4px;
}
.img-comidas img {
	width:100%;
	height:auto;
}
.img-com1{display:block;}
.img-com2{display:none;}
.img-com3{display:none;}
.info-comidas{
	position:relative;
	top:0;
	z-index:3;
}
.info-comidas h2 {
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	line-height:25px;
	padding-left:10px;
	padding-top:4px;
}
.info-comidas p {
	padding:5px 5px 5px 10px;
	height:135px;
	font-family:csm-font2;
	font-size: 12px;
}

/** BAR **/
.menu-bar {
	float:left;
	width:212px;
	margin-top:10px;
}
.menu-bar ul{display:block;}
.menu-bar select{display:none;}
.menu-bar li {
	margin-bottom:5px;
	background:rgba(0,0,0,0.5);
}
.menu-bar li a {
	color:#FFF;
	font-size:22px;
	font-weight:400;
	line-height:40px;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:20px;
	padding-left:30px;
	background:url(../images/vin-mas.png) no-repeat left center;
}
.menu-bar .activo {background:url(../images/vin-menos.png) no-repeat left center;}
.bar-tit {
	float:right;
	width:880px;
	height:230px;
	margin-top:10px;
	background: url("/images/bar/ultimates.jpg") no-repeat scroll center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bar-ultimates{background: url("/images/bar/ultimates.jpg") no-repeat scroll center center transparent;}
.bar-new-creations{background: url("/images/bar/new-creations.jpg") no-repeat scroll center center transparent;}
.bar-martinis{background: url("/images/bar/martinis.jpg") no-repeat scroll center center transparent;}
.bar-margaritas{background: url("/images/bar/margaritas.jpg") no-repeat scroll center center transparent;}
.bar-tequilas{background: url("/images/bar/tequilas.jpg") no-repeat scroll center center transparent;}
.bar-mojitos{background: url("/images/bar/mojitos.jpg") no-repeat scroll center center transparent;}
.bar-rones{background: url("/images/bar/rones.jpg") no-repeat scroll center center transparent;}
.bar-shakers{background: url("/images/bar/shakers.jpg") no-repeat scroll center center transparent;}
.bar-whiskey{background: url("/images/bar/whiskey.jpg") no-repeat scroll center center transparent;}
.bar-vodka-gin{background: url("/images/bar/vodka-gin.jpg") no-repeat scroll center center transparent;}
.bar-piscos{background: url("/images/bar/piscos.jpg") no-repeat scroll center center transparent;}
.bar-cerveza{background: url("/images/bar/cerveza.jpg") no-repeat scroll center center transparent;}
.bar-mocktails{background: url("/images/bar/mocktails.jpg") no-repeat scroll center center transparent;}
.bar-cofee{background: url("/images/bar/cofee.jpg") no-repeat scroll center center transparent;}
.bar-tit h1 {
	margin-top:140px;
	margin-left:30px;
	font-size:38px;
	line-height:1;
	text-transform:uppercase;
	text-shadow:3px 3px 5px #000;
}
.bar-tit h2 {
	margin-top:5px;
	margin-left:30px;
	font-size:18px;
	line-height:1;
	text-transform:uppercase;
	text-shadow:2px 2px 4px #000;
}
.bebidas {
	float:right;
	width:888px;
	margin-top:2px;
	margin-bottom:30px;
}
.beb1 li, .beb2 li {
	position:relative;
	float:left;
	background:rgba(3, 3, 3, 0.68);
	width: 214px;
	margin-top:10px;
	margin-left:8px;
}
.img-bebidas {
	position:relative;
	top:0;
	z-index:2;
	border:2px solid white;
	margin: 4px 4px 0 4px;
}
.img-bebidas img {
	width:100%;
	height:auto;
}
.img-beb1{display:block;}
.img-beb2{display:none;}
.info-bebidas {
	position:relative;
	height:180px;
}
.info-bebidas h2 {
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	line-height:25px;
	padding:5px 10px;
}
.info-bebidas p {
	padding:5px 5px 5px 10px;
	font-family:csm-font2;
	font-size: 13px;
}
.sin-img {
	top:0 !important;
}
/** PROMOCIONES **/

#promociones{
	width: 1100px;
	height: 400px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
#promociones h2{
	font-family: 'csm-font4';
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

ul.lista-promociones{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
ul.lista-promociones li{
	width: 215px;
	display: inline-block;
	margin: 30px 20px;
}
ul.lista-promociones li a{
	text-decoration: none;
}
ul.lista-promociones li a img{
	display: block;
	margin:  0 auto;
}
ul.lista-promociones li a h3{
	width: 100%;
	display: block;
	margin: 10px 0 0 0;
	padding: 15px 0 0 0;
	background: url(../images/promociones/borde-iconos2.png) no-repeat center top;
	font-family: 'csm-font4';
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

#detalle-promocion{
	width: 1100px;
	margin: 0 auto;
	padding: 0 0 0 0;
	background: #000;
}
.foto-promocion{
	width: 715px;
	float: left;
	padding-bottom: 7%;
	position: relative;
}
.foto-promocion p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 1.4;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 92%;
	padding: 3% 4%;
	background: #000000;
}
.foto-promocion a{
	font-family: 'csm-font4';
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 10px 25px;
	position: absolute;
	bottom: 13%;
	right: 1.5%;
	background: #DA002E;
}
.foto-promocion a::before{
	content: "< ";
}
.descripcion-promocion{
	width: 305px;
	float: right;
	padding: 25px 40px 0 40px;
}
.descripcion-promocion h2{
	font-family: 'csm-font4';
	font-size: 58px;
	text-transform: uppercase;
	text-align:center;
	color: #DA002E;
	line-height: 1;
	margin-bottom:10px;
}
.descripcion-promocion p{
	font-family: 'csm-font4';
	font-size: 20px;
	color: #FFFFFF;
}
ul.lista-descripcion{
	width: 100%;
	float: left;
	margin: 25px 0 0 0;
}
ul.lista-descripcion li{
	width: 100%;
	margin: 0 0 15px 0;
}
ul.lista-descripcion li h3{
	font-family: 'csm-font';
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
}
ul.lista-descripcion li p{
	font-family: 'csm-font';
	font-size: 14px;
	color: #FFFFFF;
}

/** CONOCENOS **/
.info-hist {
	float:right;
	color:#FFF;
	margin-bottom:20px;
	line-height:1.20;
	width:480px;
	margin-right:20px;
}
.info-hist h1{
	font-size:55px;
	text-transform:uppercase;
	margin:30px 10px;
}
.info-hist p{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	text-align:justify;
	text-transform:none;
	margin:5px 20px 20px 10px;
}
.mapa-hist{
	float:right;
	display:block;
	width:600px;
	height:742px;
	margin-top:10px;
	color:#FFF;
}
.mapa-hist img{
	float:left;
	z-index:2;
	overflow:hidden;
}
.gmap {
	position:relative;
	display:block;
	float:left;
	top:-640px;
	left:210px;
	z-index:10;
}
.locales-hist {
	width:272px;
	height:30px;
	line-height:20px;
	margin-left:10px;
	background:rgba(230,0,4,0.2) url(../images/bg-select.png) center right no-repeat;
	border:none;
	overflow:hidden;
}
.locales-hist select{
	-webkit-appearance: none;
	float:left;
	width:300px;
	vertical-align:middle;
	font-size:12px;
	padding:5px;
	margin-bottom:15px;
	background:transparent;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border:none;
	color:#FFF;
}
.locales-hist option{background:#610605;}

/** CONTACTANOS **/
.cont-contacto{padding:30px 30px;}
.cont-contacto h1{
	color:#FFF;
	font-size:28px;
	font-weight:400;
	line-height:1;
	margin-bottom:20px;
}
.cont-contacto h2{
	color:#FFF;
	font-size:26px;
	font-weight:400;
	line-height:1;
	margin-bottom:20px;
}
.cont-contacto p{
	color:#FFF;
	font-size:16px;
	line-height:1.2;
	margin-bottom:5px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.cont-datos {
	float:left;
	display:block;
	width:430px;
	margin-top:40px;
}
.cont-datos li{
	float:left;
	font-size:24px;
	line-height:30px;
	vertical-align:middle;
}
.cont-datos li:nth-child(2n+1){width:90px;}
.cont-datos li:nth-child(2n){width:320px;}
.cont-datos li:nth-child(9){width:180px;}
.cont-datos li:nth-child(10){width:250px;}
.cont-coment {
	float:right;
	display:block;
	width:600px;
	margin-top:40px;
}
.cont-coment li{
	width:100%;
	padding:0 0 5px 0;
}
.cont-coment p{
	font-size:10px;
	padding:0 25px 0 0;
}
.cont-contacto input[type=text],.cont-contacto input[type=email],.cont-contacto input[type=tel] {
	float:left;
	width:100%;
	height:20px;
	vertical-align:middle;
	line-height:20px;
	font-size:16px;
	padding:5px;
	margin-bottom:15px;
	background:rgba(230,0,4,0.2);
	border:none;
	border-radius:0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	color:#FFF;
}
.cont-despl {
	width:240px;
	height:30px;
	line-height:20px;
	background:rgba(230,0,4,0.2) url(../images/bg-select.png) center right no-repeat;
	border:none;
	overflow:hidden;
}
.cont-despl select {
  -webkit-appearance:transparent;
	float:left;
	width:268px;
	vertical-align:middle;
	font-size:16px;
	padding:5px;
	margin-bottom:15px;
	background:transparent;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border:none;
	color:#FFF;
}
.cont-despl option{background:#610605;}
.cont-contacto textarea {
	display:block;
	width:590px;
	height:155px;
	font-size:16px;
	padding:5px;
	overflow:auto;
	background:rgba(230,0,4,0.2);
	border:none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	color:#FFF;
}
.cont-coment a{
	float:right;
	width:80px;
	height:30px;
	line-height:33px;
	text-transform:uppercase;
	margin:20px 0 0 20px;
	padding:5px 20px;
	font-size:18px;
	text-align:center;
	color:#FFF;
	background:#CF0907;
}
.datos {
	float:left;
	width:305px;
	background:#FFF;
	padding:15px 15px;
	margin-left:20px;
	margin-bottom:15px;
	opacity:0.8;
	font-size:14px;
}
.alerta{
	display:block;
	width:100%;
	margin-top:20px;
	margin-bottom:10px;
	padding-top:1px;
	padding-bottom:1px;
	background:#FFF;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.alerta h2{
	line-height:30px !important;
	margin:10px 10px 5px !important;
	padding:10px 0 10px 60px !important;
	background:#F33 url(../images/alerta.png) 10px center no-repeat !important;
	color:#FFF !important;
	font-size:18px !important;
	vertical-align:middle !important;
}
.alerta p{
	margin:0 10px 10px 10px !important;
	padding:10px !important;
	color:#222 !important;
	font-size:15px !important;
	background:#FCC !important;
}
.alerta p span{
	font-weight:600;
}

/** SUSCRIBETE **/
.cont-suscribete{padding:30px 10px;}
.cont-suscribete p{
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0 30px;
}
.susc-promo{
	float:left;
	display:block;
	width:323px;
	margin-top:20px;
	margin-left:20px;
}
.susc-form{
	float:right;
	display:block;
	width:600px;
	margin-top:20px;
	margin-right:40px;
}
.susc-promo h1{
	color:#FFF;
	font-size:28px;
	line-height:26px;
	text-transform:uppercase;
}
.susc-promo h2{
	color:#E60004;
	font-size:28px;
	line-height:1.25;
	text-transform:uppercase;
}
.susc-promo h3{
	color:#FFF;
	font-size:40px;
	line-height:1.25;
	text-transform:uppercase;
	text-indent:-9999px;
	width:180px;
	height:120px;
	background:url(../images/suscribete/descuento.png) no-repeat left center;
}
.susc-form li{
	float:left;
	display:block;
	width:620px;
	font-size:20px;
	line-height:30px;
	vertical-align:middle;
}
.susc-form input[type=text],.susc-form input[type=email],.susc-form input[type=number] {
	float:left;
	height:20px;
	vertical-align:middle;
	line-height:20px;
	font-size:16px;
	padding:5px;
	margin-right:5px;
	margin-bottom:15px;
	background:rgba(230,0,4,0.2);
	border:none;
	border-radius:0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	color:#FFF;
}
.susc-form input[type=text],.susc-form input[type=email]{width:580px;}
.susc-form input[type=number]{
	width:50px;
	text-align:center;
}
.susc-despl {
	float:left;
	width:590px;
	height:30px;
	line-height:20px;
	margin-right:5px;
	margin-bottom:15px;
	background:rgba(230,0,4,0.2) url(../images/bg-select.png) center right no-repeat;
	border:none;
	overflow:hidden;
}
.susc-despl select {
	-webkit-appearance: none;
	float:left;
	width:618px;
	vertical-align:middle;
	font-size:16px;
	padding:5px;
	margin-bottom:15px;
	background:transparent;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border:none;
	color:#FFF;
}
.susc-despl option{background:#610605;}
.susc-form img{
	float:left;
	margin:3px 10px 0 5px;
}
#susc-form {
	float:right;
	width:120px;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	margin:20px 10px 0;
	padding:5px 30px;
	font-size:18px;
	text-align:center;
	color:#FFF;
	background:#CF0907;
}

/** CERTIFICADO DE REGALO **/
.bg-cert-regalo{
	background:url(../images/regalo/bg-certificado-regalo.jpg) no-repeat;
	height:721px;
}
.cert-regalo {
	float:right;
	width:480px;
	margin:80px 20px 10px 0;
}
.cert-regalo h1{
	font-size:28px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:#000 2px 2px 4px;
	color:#FFF;
	margin-bottom:12px;
}
.cert-regalo h2{
	font-size:26px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:#000 2px 2px 4px;
	color:#E60004;
	margin-bottom:12px;
}
.cert-regalo p{
	font-size:16px;
	line-height:1.2;
	text-shadow:#000 1px 1px 2px;
	color:#FFF;
	margin-bottom:5px;
}
.cert-regalo p span{
	font-size:20px;
}
.legal{
	font-size:11px !important;
	top:-300px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dlegal{
	margin-top:380px;
}

/** TRABAJA CON NOSOTROS **/
.bg-trab-nosotros{
	background:url(../images/bg-trabaja-nosotros.jpg) no-repeat;
	height:500px;
	font-family:csm-font3;
}
.trab-nosotros {
	float:left;
	width:760px;
	padding:170px 20px 10px 165px;
	text-align: center;
}
.trab-nosotros  h1, h2{
	line-height:1.2;
	text-shadow:#000 2px 2px 4px;
	color:#FFF;
}
.trab-nosotros  h1{
	font-size:32px;
}
.trab-nosotros  h2{
	font-size:38px;
}
/** MAPA DEL SITIO **/
.mapa-sitio{
	float:right;
	text-transform:uppercase;
	font-size:36px;
	line-height:1;
	margin-top:20px;
	margin-right:20px;
}
.mapa {
	float:left;
	font-size:18px;
	margin-top:20px;
	margin-right:20px;
	padding:20px;
	min-width:190px;
}
.mapa h2{
	font-size:32px;
	line-height:1;
	text-transform:uppercase;
	margin-bottom:15px;
	margin-right:20px;
	padding-left:30px;
}
.mapa ul{
	float:left;
	margin-left:60px;
	list-style:square outside;
}
.mapa li{
	line-height:30px;
	font-size:22px;
}
.mapa a:hover{color:#CC3333;}
.last{margin-right:0 !important;}

/*
html[data-useragent*='MSIE 10.0'] .menu2 a {
  font-size:15px;
  font-weight:bold;
}
*/
/** RESERVAS **/
.bg-reservas{
	background:url(../images/slides/bg-reservas-lima.jpg) no-repeat;
	height:721px;
}
.reservas {
	float:right;
	width:480px;
	margin:80px 20px 10px 0;
	text-align:right;
}
.reservas h1{
	font-size:20px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:#000 2px 2px 4px;
	color:#FFF;
	margin-bottom:12px;
}
.reservas h2{
	font-size:40px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:#000 2px 2px 4px;
	color:#FFF;
	margin-bottom:12px;
}
.tolerancia {
	float:left;
	margin:190px 0 10px 20px;
}
.tolerancia h3, .tolerancia h4, .tolerancia h5{
	font-size:16px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:#000 2px 2px 4px;
	color:#FFF;
}
.tolerancia h3 {
	border-bottom:#F00 solid 2px;	
}
.tolerancia h5 {
	margin-bottom:30px;
	font-size:20px;
}
@media only screen and (max-width: 1199px) { /*970 iPad Horizontal*/
.container {width:960px;}
.menu0, .menu1 {width:730px;}
.me-gusta1{top:135px;}

/** COMIDAS **/
.com-tit {
	width:960px;
	height:299px;
}
.com-tit1{margin-top:200px;}
.comidas {width:728px;}
.com1 li{width:348px;}
.img-com1{display:none;}
.img-com2{display:block;}
.info-comidas p{height:110px;}

/** BAR **/
.bar-tit {
	width:732px;
	height:192px;
}
.bar-tit h1 {margin-top:110px;}
.bebidas {width:744px;}
.beb1 li, .beb2 li {
	width:236px;
	margin-left:12px;
}
.info-bebidas p{height:85px;}

/** CONOCENOS **/
.mapa-hist{
	width:580px;
	padding-top:30px;
}
.info-hist{width:360px;}

/** CONTACTANOS **/
.cont-coment{width:460px;}
.cont-contacto textarea {width:450px;}

/** SUSCRIBETE **/
.susc-promo{width:340px;}
.susc-form {
	width:480px;
	margin-right:10px;
}
.susc-form li{width:500px;}
.susc-form input[type=text],.susc-form input[type=email]{width:460px;}
.susc-despl{width:470px;}
.susc-despl select{width:498px;}
}

@media only screen and (max-width: 969px) { /*768 iPad Vertical*/
.container{width:750px;}
.menu0, .menu1{width:520px;}
.menu0 h1{
	width:100px;
	line-height:25px;
	padding-top:3px;
}
.pie {margin-top:30px;}
.menu2, .menu3 {
	width:100%;
	font-size:14px;
	background:rgba(0,0,0,0.5);
}
.menu2 ul {
	float:left;
	margin-left:10px;
}
.menu3 ul {
	float:right;
	margin-right:10px;
}
.me-gusta1{top:145px;}

/** COMIDAS **/
.com-promo{display:none;}
.menu-comidas {
	float:right;
	width:280px;
	margin-top:5px;
}
.menu-comidas ul{display:none;}
.container select{display:block;}
.com-select{
	float:left;
	width:280px;
	height:40px;
	line-height:40px;
	background:rgba(0,0,0,0.4) url(../images/bg-select.png) center right no-repeat;
	border:none;
	overflow:hidden;
}
.com-select select{
	float:left;
	width:303px;
	height:40px;
	vertical-align:middle;
	font-size:16px;
	padding:5px;
	margin-bottom:15px;
	background:transparent;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border:none;
	color:#FFF;
	text-transform:uppercase;
	-webkit-appearance: none;
}
.com-select option {background:#610605;}
.comidas {width:750px;}
.com1 {margin-left:0;}
.com1 li{width:369px;}
.com1 li:nth-child(2n+1){margin-left:0;}
.com-tit {
	width:750px;
	height:234px;
}
.com-tit1{margin-top:145px;}

/** BAR **/
.bar-tit {
	width:524px;
	height:138px;
}
.bar-tit h1 {
	margin-top:90px;
	margin-left:15px;
}
.bar-tit h2{display:none;}
.bebidas {width:536px;}
.beb1 li, .beb2 li {width: 256px;}

/** CONOCENOS **/
.mapa-hist{
	width:100%;
	padding-top:0;
	overflow:hidden;
}
.info-hist {
	width:100%;
	margin-right:0;
}
.info-hist h1{
	margin:30px 20px 15px;
}
.info-hist p {
	margin-left:20px;
	margin-right:20px;
}
.locales-hist{margin-left:20px;}

/** CONTACTANOS **/
.cont-coment {
	float:left;
	width:100%;
}
.cont-contacto textarea{width:680px;}

/** SUSCRIBETE **/
.susc-form,.susc-promo{margin-top:0;}

/** CERTIFICADO DE REGALO **/
.bg-cert-regalo{
	background:url(../images/regalo/bg-certificado-regalo2.jpg) no-repeat top left rgba(0,0,0,0.4);
	height:auto;
}
.cert-regalo{
	float:left;
	margin:430px 20px 20px 20px;
	width:auto;
}
.dlegal {
	margin-top:30px;
}
}

@media only screen and (max-width: 767px) { /*640 Tablet Vert*/
.container {width:610px;}
.menu0, .menu1 {
	width:100%;
	padding-left:0;
}
.menu0 h1{display:none;}
.menu0 ul{
	float:right;
	margin-left:0;
	margin-right:10px;
}
.menu1 ul {
	float:right;
	margin-right:20px;
	display:inline-block;
}
.fb {
	width:450px;
	height:70px;
	line-height:30px;
	margin-top:20px;
	margin-bottom:40px;
}
.fb ul {
	float:right;
	margin-bottom:10px;
}
.fb li{padding-top:16px;}
.fb li span{height: 30px;}
.fb-icon{height:30px;}
.fb-gusta{padding-top:6px;}
.btn-reservas{margin-top:12px;}
.seguidores{margin-top:5px;}
.fdo-pie{background:rgba(0,0,0,0.5);}
.menu2, .menu3 {
	line-height:40px;
	background:none;
}
.menu2 {
	width:200px;
	padding:0 0 0 40px;
}
.menu2 li{width:120px;}
.menu3 {
	float:left;
	width:288px;
	padding:0 0 0 40px;
}
.menu3 li{width:200px;}
.menu2 li, .menu3 li {
	padding-left:20px;
	background:url(../images/sep-menu3.png) no-repeat center left transparent;
}
.menu2 li:first-child, .menu3 li:first-child{padding-left:20px;}
.menu2 li:last-child, .menu3 li:last-child{background:url(../images/sep-menu3.png) no-repeat center left transparent;}
.me-gusta1{top:110px;}

/** COMIDAS **/
.comidas{width:610px;}
.com-tit {
	width:610px;
	height:190px;
}
.com-tit1{
	margin-top:100px;
	margin-right:40px;
}
.com1 li{width:299px;}

/** BAR **/
.menu-bar {
	float:right;
	width:auto;
}
.menu-bar ul{display:none;}
.menu-bar select {
	display:block;
	border:none;
	outline: 0 none;
	background:rgba(0,0,0,0.5);
	margin-bottom: 10px;
	padding: 7px;
	color: #FFF;
	font-size:16px;
	text-transform:uppercase;
}
.bar-tit {
	width:610px;
	height:160px;
	margin-left:0;
}
.bar-tit h1 {margin-top:110px;}
.bebidas {
	width:610px;
	margin-left:0;
}
.beb1 li, .beb2 li{width:299px;}
.beb1 li:nth-child(2n+1), .beb2 li:nth-child(2n+1) {margin-left:0;}

/** CONTACTANOS **/
.cont-coment{float:left;}
.cont-contacto textarea{width:540px;}

/** SUSCRIBETE **/
.susc-form {margin-top:20px;}

/** MAPA DEL SITIO **/
.mapa{
	margin-right:0;
	width:570px;
}
}

@media only screen and (max-width: 639px) { /*568*/
.container{width:568px;}
.cabecera {
	margin-top:0;
	margin-bottom:0;
}
.logo {margin-left:10px;}
.logo a {
	width:180px;
	height:180px;
	margin-top:0;
	margin-left:0;
}
.fb {
	width:300px;
	margin-top:10px;
	margin-bottom:30px;
}
.btn-reservas{
	margin-top:0;
	margin-bottom:0;
}
.fb li{
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
}
.fb li span, .seguidores{display:none;}
.menu2, .menu3 {
	line-height:40px;
	background:none;
}
.menu2 {width:200px;}
.menu3 {
	float:left;
	width:288px;
	padding:0 0 0 40px;
}
.menu2 li, .menu3 li {
	padding-left:20px;
	background:url(../images/sep-menu3.png) no-repeat center left transparent;
}
.menu2 li:first-child, .menu3 li:first-child {padding-left:20px;}
.menu2 li:last-child, .menu3 li:last-child {background:url(../images/sep-menu3.png) no-repeat center left transparent;}
.me-gusta1{top:165px;}

/** COMIDAS **/
.comidas{width:568px;}
.com-tit {
	width:568px;
	height:177px;
}
.com-tit1{
	margin-top:90px;
	margin-right:30px;
}
.com1 li{width:100%;}
.com1 li:nth-child(2n){margin-left:0;}
.img-com2{display:none;}
.img-com3{display:block;}
.info-comidas h2{font-size:16px;}
.info-comidas p{
	font-size:14px;
	height:auto;
	padding-bottom:8px;
}

/** BAR **/
.bar-tit {
	width:568px;
	height:149px;
}
.bar-tit h1{margin-top:100px;}
.bebidas{width:568px;}
.beb1 li, .beb2 li{width:278px;}
.img-beb1{display:none;}
.img-beb2 {display:block;}
.info-bebidas h2 {font-size:14px;}
.info-bebidas p {font-size:14px;}

/** CONTACTANOS **/
.cont-contacto textarea{width:498px;}

/** CONOCENOS **/
.info-hist p{font-size:16px;}

/** MAPA DEL SITIO **/
.mapa{
	margin-right:0;
	width:528px;
	font-size:24px;
	line-height:1.3;
}
}

@media only screen and (max-width: 567px) { /*480*/
.container{width:480px;}
.logo a {
	width:140px;
	height:140px;
}
.menu1 {
	float:right;
	margin-left:0;
}
.menu2{width:440px;}
.menu2 ul{margin-left:0;}
.menu2 li{width:300px;}
.menu3 {
	width:440px;
	margin-top:0;
}
.menu3 li{width:300px;}
.fb {width:300px;}
.fb li span, .seguidores{display:none;}
.me-gusta1{top:140px;}

/** COMIDAS **/
.comidas{width:480px;}
.com-tit {
	width:480px;
	height:150px;
}
.com-tit1{
	margin-top:70px;
	margin-right:20px;
}

/** BAR **/
.bar-tit {
	width:480px;
	height:126px;
}
.bar-tit h1 {margin-top:80px;}
.bebidas {width:480px;}
.beb1 li, .beb2 li {width:234px;}
.info-bebidas p {height:100px;}

/** CONOCENOS **/
.mapa-hist img{margin-left:-100px}
.gmap {left:110px;}

/** CONTACTANOS **/
.cont-coment {
	float:left;
	width:420px;
}
.cont-contacto textarea{width:410px;}

/** SUSCRIBETE **/
.susc-form {width:445px;}
.susc-form li{width:450px;}
.susc-form input[type="text"], .susc-form input[type="email"] {width: 425px;}
.susc-despl{width:435px;}
.susc-despl select{width:463px;}
.cont-suscribete p {padding:0 10px;}

/** CERTIFICADO DE REGALO **/
.bg-cert-regalo{background:url(../images/regalo/bg-certificado-regalo3.jpg) no-repeat top left rgba(0,0,0,0.4);}
.cert-regalo{margin-top:220px;}

/** MAPA DEL SITIO **/
.mapa{width:440px;}
}

@media only screen and (max-width: 479px) { /*320*/
.container{width:320px;}
.cabecera{background:none;}
.logo a {
	width:120px;
	height:120px;
}
.menu0 ul{margin-left:0;}
.menu0 li{
	padding-left:10px;
	padding-right:14px;
}
.menu1 {
	width:320px;
	font-size:16px;
}
.menu1 li {
	padding-left:4px;
	padding-right:18px;
}
.menu2{width:280px;}
.menu2 ul {
	width:120px;
	margin-left:0;
}
.menu3 {
	width:280px;
	margin-top:0;
}
.menu3 li{width:220px;}
.fb ul{width:60%;}
.fb li {
	padding-left:4px;
	padding-right:7px;
	float:right;
}
.fb li:first-child {display:none;}
.fb li:last-child {
	background:none;
	padding-right:0;
}
.me-gusta1{top:85px;}

/** COMIDAS **/
.comidas{width:320px;}
.com-tit {
	width:320px;
	height:100px;
}
.com-tit1{
	margin-top:20px;
	margin-right:10px;
}
.com-tit1 h1{font-size:30px;}
.menu-comidas{width:320px;}
.com-select{width:320px;}
.com-select select{width:343px;}

/** BAR **/
.bar-tit {
	width:320px;
	height:84px;
}
.bar-tit h1{margin-top:45px;}
.bebidas{width:320px;}
.beb1 li, .beb2 li {
	width:320px;
	margin-top:20px;
	margin-left:0;
}
.info-bebidas p {
	height:auto;
	padding-bottom:10px;
}

/** CONOCENOS **/
.mapa-hist img{margin-left:-187px}
.gmap{left:23px;}

/** CONTACTANOS **/
.cont-contacto{padding:20px;}
.cont-datos,.cont-coment {width:290px;}
.cont-contacto textarea{width:270px;}
.cont-datos li,.cont-datos li:nth-child(2n+1),.cont-datos li:nth-child(2n){
	width:270px;
	padding-left:0;
}
.cont-despl{width:280px;}
.cont-despl select{width:308px;}
.cont-coment a{padding:12px 20px;}

/** SUSCRIBETE **/
.susc-promo{width:290px;}
.susc-form {width:290px;}
.susc-form li{width:300px;}
.susc-form input[type="text"], .susc-form input[type="email"] {width:275px;}
.susc-despl{width:285px;}
.susc-despl select{width:313px;}
.susc-form a{margin-bottom:20px;}

/** CERTIFICADO DE REGALO **/
.cert-regalo img{width:280px;}

/** MAPA DEL SITIO **/
.mapa{
	width:290px;
	padding-right:10px;
}
.mapa h2{padding-left:0;}
.mapa ul{margin-left:30px;}

/** RESERVAS **/
.tolerancia {
	margin:160px 0 10px 20px;
}

}