/* CSS Document */

/*opacity 60= bg60.png*/
.menu0, .menu1, .com-promo h2, .menu-comidas li{
	background: url(../images/bg60.png) repeat;
}

/*opacity 50= bg50.png*/
.menu-comidas li, .menu-bar li, .menu-bar select{
	background: url(../images/bg50.png) repeat;
}

/*opacity 40= bg40.png*/
.bg-transp, .com-promo h2, .mapa, .com-select, .bg-cert-regalo, .mapa{
	background: url(../images/bg40.png) repeat;
}

.com1 li, .com2 li, .beb1 li, .beb2 li {
	background: url(../images/bg-rojo25.png) repeat;
}

.locales-hist, .cont-contacto input[type=text], .cont-contacto input[type=email], .cont-contacto input[type=tel], .cont-contacto textarea, .susc-form input[type=text], .susc-form input[type=email], .susc-form input[type=number], .susc-despl {
	background: url(../images/bg-2rojo20.png) repeat;
}

.cont-despl, .cont-datos LI {
	width:90%;
}

.locales-hist{
	background:none;
}

.cont-despl select,.cont-despl option, .susc-despl select, .susc-despl option, .locales-hist select, .locales-hist option{
	background:#860903;
}