/* CSS Document */

body{
	font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
}

/*opacity 60= bg60.png*/
.menu0, .menu1, .com-promo h2, .menu-comidas li{
	background: url(../images/bg60.png) repeat;
}

/*opacity 50= bg50.png*/
.menu-comidas li, .menu-bar li, .menu-bar select{
	background: url(../images/bg50.png) repeat;
}

/*opacity 40= bg40.png*/
.bg-transp, .com-promo h2, .com-select{
	background: url(../images/bg40.png) repeat;
}

.com1 li, .com2 li, .beb1 li, .beb2 li {
	background: url(../images/bg-rojo25.png) repeat;
}

.locales-hist, .cont-contacto input[type=text], .cont-contacto input[type=email], .cont-contacto input[type=tel], .cont-contacto textarea, .susc-form input[type=text], .susc-form input[type=email], .susc-form input[type=number], .susc-despl {
	background: url(../images/bg-2rojo20.png) repeat;
}

.locales-hist{
	background:none;
}

.cont-despl select,.cont-despl option, .susc-despl select, .susc-despl option, .locales-hist select, .locales-hist option{
	background:#860903;
}

.menu2 a, .menu3 a{
	font-size:14px;
	font-weight:600;
}

.menu-bar li a{
	font-size:18px;
}

.menu-comidas li a{
	font-size:16px;
}

.info-bebidas h2, .info-comidas h2{
	font-size:14px;
}

.dlegal{
	margin-top:340px;
}

.cont-datos li {
	width:45%;
	text-align:right;
	padding-right:10px;
}

.cont-despl{
	width:70%;
}

.cont-datos ul li{
	font-size:16px;
}

/*.cont-contacto input[type="text"], .cont-contacto input[type="email"], .cont-contacto input[type="tel"]{
	width:200px;
}

.cont-contacto textarea {
	height:300px;
}*/