/* CSS Document */

#sequence {
  position: relative;
  min-height: 436px;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#sequence .sequence-next,
#sequence .sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  opacity: 0.6; /*0.2*/
  top: 50%;
  height: 41px;
  width: 39px;
  z-index: 20;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sequence .sequence-prev {
  left: 5px;
}
#sequence .sequence-next {
  right: 5px;
}
#sequence .sequence-next:hover,
#sequence .sequence-prev:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sequence h2 {
  font-size: 4em;
  line-height: 1em;
	color:#CC3333;
}
#sequence h3 {
  font-size: 2.5em;
  line-height: 1.2em;
	color:#FFF;
	text-shadow:#000 1px 1px;
}
#sequence p {
  font-size: 1.5em;
  line-height: 1.2em;
	text-align:right;
	color:#FFF;
	text-shadow:#000 1px 1px;
}
#sequence .info {
  color: black;
  font-size: 1em;
	text-transform:uppercase;
  left: 150%;
  line-height: 1.2em;
  top: 240px;
  width: 360px;
  z-index: 10;
  vertical-align: middle;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .animate-in .info {
  left: 60px;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .animate-out .info {
  left: -150%;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}



#sequence .sl-1 {
  height: auto;
  width: 100%;
  left: -60%;
  opacity: 0;
  top: 0;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .sl-1 {
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: 1;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .animate-out .sl-1 {
  left: 160%;
  opacity: 0;
  top: 0;
  z-index: 1;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}



#sequence .sl-2 {
  height: auto;
  width: 100%;
  left: -100%;
  top: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 6;
  -webkit-transition-property: left top -webkit-transform;
  -moz-transition-property: left top -moz-transform;
  -o-transition-property: left top -o-transform;
  -ms-transition-property: left top -ms-transform;
  transition-property: left top transform;
}
#sequence .animate-in .sl-2 {
  left: 0;
  top: 0;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 4;
}
#sequence .animate-out .sl-2 {
  left: 120%;
  top: 0;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: 2;
}



#sequence .sl-3 {
  height: auto;
  width: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  z-index: 6;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition-property: left top -webkit-transform;
  -moz-transition-property: left top -moz-transform;
  -o-transition-property: left top -o-transform;
  -ms-transition-property: left top -ms-transform;
  transition-property: left top transform;
}
#sequence .animate-in .sl-3 {
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 4;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .animate-out .sl-3 {
  left: 50%;
  opacity: 0;
  top: 0;
  z-index: 2;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .sequence-fallback .animate-in .sl-3 {
  left: 20%;
  top: 200px;
}
.event, .reserv{
	min-height:721px !important;
	background:none !important;
}
.promoc{
	min-height:613px !important;
	/*min-height:570px !important;*/
	background:none !important;
}
#sequence .eventos {
  color: black;
  font-size: 1em;
	text-transform:uppercase;
  left: 150%;
  line-height: 1.2em;
  top: 330px;
  width: 480px;
	padding-bottom:10px;
	background:rgba(0,0,0,0.4);
  z-index: 10;
  vertical-align: middle;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .animate-in .eventos {
  left: 40px;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .animate-out .eventos {
  left: -150%;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}
#sequence .eventos h2{
	color:#e60004;
	text-transform:uppercase;
	font-size:28px;
	text-shadow:3px 3px 5px #000;
	margin:5px 0;
	padding-left:10px;
}
#sequence .eventos p{
	color:#FFF;
	font-size:18px;
	text-align:left;
	text-transform:none;
	margin:5px 10px;
	padding-left:15px;
	text-shadow:2px 2px 4px #000;
}
#sequence .eventos li{
	list-style:disc;
}
#sequence .eventos li{
	color:#FFF;
	font-size:18px;
	text-align:left;
	text-transform:none;
	margin-left:32px;
	padding:5px 0;
	text-shadow:2px 2px 4px #000;
}

#sequence .reservas {
  color: black;
  font-size: 1em;
	text-transform:uppercase;
  left: 150%;
  line-height: 1.2;
  top:50px;
  width: 600px;
	padding-bottom:10px;
  z-index: 10;
  vertical-align: middle;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .animate-in .reservas {
  left: 40px;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
#sequence .animate-out .reservas {
  left: -150%;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}
#sequence .reservas h1{
	color:#FFF;
	text-transform:none;
	font-size:60px;
	text-shadow:3px 3px 5px #000;
	margin-bottom:420px;
	padding-left:10px;
}
#sequence .reservas h2{
	color:#e60004;
	text-transform:uppercase;
	font-size:24px;
	text-shadow:3px 3px 5px #000;
	margin:5px 0;
	padding-left:10px;
}
#sequence .reservas h3{
	color:#FFF;
	text-transform:uppercase;
	font-size:46px;
	text-shadow:3px 3px 5px #000;
	margin:5px 0;
	padding-left:30px;
}
#sequence .reservas h4{
	color:#FFF;
	font-size:28px;
	text-align:left;
	text-transform:uppercase;
	margin:5px 10px;
	padding-left:45px;
	text-shadow:2px 2px 4px #000;
}

@media only screen and (max-width: 1199px) { /*1024 iPad Horizontal*/
.event, .reserv {
	min-height:629px !important;
}
.promoc {
	min-height:535px !important;
}
#sequence .eventos {
	top:280px;
}
#sequence .reservas h1 {
	margin-bottom:350px;
}
}

@media only screen and (max-width: 969px) { /*768 iPad Vertical*/

#sequence {
  min-height: 560px;
	background:#000;
}

#sequence p {
	text-align:left;
	line-height:1.5em;
}

#sequence .info {
  top: 360px;
	padding-left:40px;
	width:80%;
}

#sequence .animate-in .info {
  left: 0;
}

.event, .reserv {
	min-height:491px !important;
}
.promoc {
	min-height:418px !important;
}
#sequence .eventos {
	top:200px;
}
#sequence .reservas {
	top:30px;
}
#sequence .reservas h1 {
	margin-bottom:250px;
}

}

@media only screen and (max-width: 767px) { /*640 Tablet Vert*/

#sequence {
  min-height: 500px;
}

#sequence .info {
  top: 300px;
}
.event {
	min-height:700px !important;
}
.promoc {
	min-height:340px !important;
}
#sequence .eventos {
	top:420px;
	background:none;
}
.reserv {
	min-height:660px !important;
}
#sequence .reservas {
	width:100%;
	margin:0;
	padding:20px 0;
	background:rgba(0,0,0,0.3);
	top:399px;
}
#sequence .animate-in .reservas {
	left:0;
}
#sequence .reservas h1 {
	margin-bottom:10px;
}

}

@media only screen and (max-width: 639px) { /*568*/

#sequence {
	min-height:480px;
}
#sequence .info {
	top:280px;
}
.event {
	min-height:680px !important;
}
.promoc {
	min-height:317px !important;
}
#sequence .eventos {
	top:400px;
}
#sequence .reservas {
	top:370px;
}
#sequence .reservas h4{
	font-size:22px;
}

}

@media only screen and (max-width: 567px) { /*480*/

#sequence {
	min-height:440px;
}
#sequence .info {
	width:400px;
	top:240px;
}
.event {
	min-height:650px !important;
}
.promoc {
	min-height:267px !important;
}
#sequence .eventos {
	width:430px;
	top:330px;
}
.reserv {
	min-height:570px !important;
}
#sequence .reservas {
	top:312px;
}

}

@media only screen and (max-width: 479px) { /*320*/

#sequence {
	min-height:300px;
	background:#000;
}
#sequence .info {
	padding-left:10px;
	top:160px;
}
#sequence h2 {
  font-size: 3.2em;
}
#sequence h3 {
  font-size: 1.5em;
}
#sequence p {
  font-size: 1.1em;
}
.event {
	min-height:650px !important;
}
.promoc {
	min-height:178px !important;
}
#sequence .eventos {
	width:300px;
	top:230px;
	margin-left:-40px;
}
#sequence .eventos h2{
	margin:0;
	padding-left:5px;
}
#sequence .eventos p{
	margin:0;
	padding-left:15px;
}
#sequence .eventos li{
	line-height:22px;
}
.reserv {
	min-height:450px !important;
}
#sequence .reservas {
	top:208px;
}
#sequence .reservas h3{
	font-size:40px;
}
#sequence .reservas h4{
	font-size:18px;
}
}