.vista{
	position:fixed;
}
.vista-1{
	top:0px;
	overflow:hidden;
}
.vista-2{
	top:650px;
}
.vista-3{
	top:1441px;
}
.footer{
	position:absolute;
	top:2136px;
	width:100%;
}


.skrollr-desktop .contenedor-header .inner-header{
	position:relative;
	top:-148px;
}
.marcas{
	top:750px;
}


@-skrollr-keyframes content_1{
	0{
		top:0px
	}
	650{
		top:-650px
	}
}
@-skrollr-keyframes content_2{
	0{
		top:650px;
	}
	650{
		top:0px
	}
	1441{
		top:-791px
	}
}

@-skrollr-keyframes content_3{
	0{
		top:1441px
	}
	1441{
		top:0px;
	}
	
}

/*VISTA 2*/
@-skrollr-keyframes slogan_2{
	0{
		left:-100%;
		opacity:0;
	}
	600{
		left:0%;
		opacity:1;
	}
}
@-skrollr-keyframes producto_1{
	0{
		/*-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);*/
		top:200px;
		opacity:0;
	}
	680{
		/*-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);*/
		opacity:1;
		top:122px;
	}
}
@-skrollr-keyframes producto_2{
	0{
		/*-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);*/
		opacity:0;
		top:390px;
	}
	650{
		/*-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);*/
		opacity:1;
		top:195px;
	}
}
@-skrollr-keyframes producto_3{
	0{
		/*-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);*/
		opacity:0;
		top:396px;
	}
	690{
		/*-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);*/
		opacity:1;
		top:198px;
	}
}
@-skrollr-keyframes producto_4{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	720{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_5{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	770{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_6{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	750{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_7{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	770{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_8{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	790{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_9{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	780{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}
@-skrollr-keyframes producto_10{
	0{
		-webkit-transform: scale(0);
		transform: scale(0);
		-moz-transform: scale(0);
		opacity:0;
	}
	800{
		-webkit-transform: scale(1);
		transform: scale(1);
		-moz-transform: scale(1);
		opacity:1;
	}
}


/*VISTA 3*/
@-skrollr-keyframes vista3_bg1{
	0{
		top:-800px;
	}
	1500{
		top:0px;
	}
}
@-skrollr-keyframes vista3_bg2{
	0{
		top:200px;
	}
	1460{
		top:0px;
	}
}
@-skrollr-keyframes vista3_bg3{
	0{
		top:-200px;
	}
	1460{
		top:0px;
	}
}
@-skrollr-keyframes slogan_3{
	0{
		top:465px;
	}
	1500{
		top:165px;
	}
}


.vista-1{
    -skrollr-animation-name:content_1;
}
.vista-2{
    -skrollr-animation-name:content_2;
}
.vista-3{
    -skrollr-animation-name:content_3;
}

/*VISTA 3*/
#vista3 .bg{
	-skrollr-animation-name:vista3_bg1;
}
#vista3 .bg2{
	-skrollr-animation-name:vista3_bg2;
}
#vista3 .bg3{
	-skrollr-animation-name:vista3_bg3;
}
.slogan3{
	-skrollr-animation-name:slogan_3;
}

/*VISTA 2*/
.slogan2{
	-skrollr-animation-name:slogan_2;
}
.producto1{
	-skrollr-animation-name:producto_1;	
}
.producto2{
	-skrollr-animation-name:producto_2;	
}
.producto3{
	-skrollr-animation-name:producto_3;	
}
.producto4{
	-skrollr-animation-name:producto_4;	
}
.producto5{
	-skrollr-animation-name:producto_5;	
}
.producto6{
	-skrollr-animation-name:producto_6;	
}
.producto7{
	-skrollr-animation-name:producto_7;	
}
.producto8{
	-skrollr-animation-name:producto_8;	
}
.producto9{
	-skrollr-animation-name:producto_9;	
}
.producto10{
	-skrollr-animation-name:producto_9;	
}
