@media screen and (max-width: 1599px) and (min-width: 1000px){

.fondo_blanco{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
	background: #FFFFFF;
}


/*-----MENU MOVIL-----*/
.contenedor_menu_movil{
	width: 480px;
	display: none;
	overflow: hidden;
	margin: 10px auto 0 auto;
}
.cuadro_menu{
	display: none;
}
#menu_movil{
	display: none;
}


/*-----SLIDER-----*/
.rsABlock.img.camion_novedad_uno{
	top: 20%;
	right: -35%;
	margin: 0 0 0 -1030px;
}
.rsABlock.img.camion_novedad_dos{
	top: 20%;
	right: -20%;
	margin: 0 0 0 -900px;
}
.rsABlock.img.camion_novedad_tres{
	top: 25%;
	left: 50%;
	margin: 0 0 0 -980px;
}
}