body{
	font-family: Helvetica, Arial, sans-serif;
	background: #FFFFFF;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/roboto-black.eot');
    src: url('../fonts/roboto-black.eot') format('embedded-opentype'),
         url('../fonts/roboto-black.woff') format('woff'),
         url('../fonts/roboto-black.ttf') format('truetype'),
         url('../fonts/roboto-black.svg#RobotoBlack') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype'),
         url('../fonts/roboto-bold.svg#RobotoBold') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('../fonts/roboto-boldcondensed.eot');
    src: url('../fonts/roboto-boldcondensed.eot') format('embedded-opentype'),
         url('../fonts/roboto-boldcondensed.woff') format('woff'),
         url('../fonts/roboto-boldcondensed.ttf') format('truetype'),
         url('../fonts/roboto-boldcondensed.svg#RobotoBoldCondensed') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'HelveticaMediumCondensed';
    src: url('../fonts/HelveticaMediumCondensed.eot');
    src: url('../fonts/HelveticaMediumCondensed.eot') format('embedded-opentype'),
    	 url('../fonts/HelveticaMediumCondensed.woff') format('woff'),
         url('../fonts/HelveticaMediumCondensed.ttf') format('truetype'),
         url('../fonts/HelveticaMediumCondensed.svg#HelveticaMediumCondensed') format('svg');
    font-style: normal;
    font-weight: normal;
}
.fnegro{
	background: #000000;
}
.clear{
    clear: both;
    overflow: hidden;
}
.izq{
	float: left;
}
.der{
	float: right;
}
.p_top_10{
	padding-top: 10px;
}
.p_top_20{
	padding-top: 20px;
}
.p_top_30{
	padding-top: 30px;
}
.p_top_40{
	padding-top: 40px;
}
.p_top_50{
	padding-top: 50px;
}
.p_top_60{
	padding-top: 60px;
}
.p_top_70{
	padding-top: 70px;
}
.p_top_80{
	padding-top: 80px;
}
.p_b_30{
	padding-bottom: 30px;
}
.m_top_60{
	margin-top: 60px;
}
.m_top_100{
	margin-top: 100px;
}
.m_bottom_20{
	margin-bottom: 20px;
}
.m_bottom_30{
	margin-bottom: 30px;
}
.m_bottom_50{
	margin-bottom: 50px;
}
.m_left_10{
	margin-left: 10px;
}
a.btn{
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #00A6EB;
}

/*--INPUTS--*/
label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	margin-right: 15px;
}
label span{
	font-size: 11px;
	text-transform: inherit;
	line-height: 1.5;
	color: #ED1C24;
}
input{
	font-family: 'HelveticaMediumCondensed';
	text-transform: uppercase;
	width: 94%;
	height: 25px;
	margin: 0;
	padding: 0 3%;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #C3C3C3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
input[type="submit"], input[type="button"]{
	font-family: 'RobotoBlack';
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: auto;
	height: 40px;
	float: right;
	border: none;
	margin-top: 10px;
	padding: 0 25px;
	cursor: pointer;
	background: #758AA2;
}
input[type="submit"].m_top_40{
	margin-top: 40px;
}
input[type="submit"].m_top_80{
	margin-top: 80px;
}
input[type="radio"]{
	width: auto;
	height: auto;
	float: left;
	margin-right: 2px;
}
select{
	font-family: 'HelveticaMediumCondensed';
	text-transform: uppercase;
	color: #A0A0A0;
	width: 100%;
	height: 29px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #C3C3C3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
textarea{
	font-family: 'HelveticaMediumCondensed';
	text-transform: uppercase;
	color: #A0A0A0;
	width: 94%;
	max-width: 94%;
	height: 242px;
	max-height: 242px;
	padding: 3%;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #C3C3C3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#vista1, #vista2, #vista3{
	width: 100%;
}
#vista1{
	color: #FFFFFF;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	background:url(../img/firstBG.jpg) 50% 0 no-repeat;
}
#vista2{
	color: #FFFFFF;
	height: 791px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 9999999;
	background: url(../img/fondo3.jpg) 50% 0 repeat;
}
#vista3 .bg{
	height: 720px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 900px;
	/*z-index: 200;
	background: url(../img/llave3.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave3.png) 50% 0 no-repeat;
	z-index:999;
}
#vista3 .bg2{
	/*background: url(../img/llave2.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave2.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}
#vista3 .bg3{
	/*background: url(../img/llave1.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave1.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}
#vista3{
	/*background: url(../img/secondBG.jpg) 50% 0 no-repeat fixed;*/
	background: url(../img/secondBG.jpg) 50% 0 repeat;
	color: white;
	height: 695px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
/*#vista4{
	background: #000;
	height: 66px;
	margin: 0 auto;
	padding:0 0 0 0;
}
*/
.contenedor_full{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	position: relative;
}
.contenedor{
	min-width: 900px;
	width: 900px;
	margin: 0 auto;
	position: relative;
}
.relativo{
	height: 791px;
	overflow: hidden;
	position: relative;
}
.fondo_blanco{
	width: 84%;
	margin: 0 auto;
	padding-bottom: 40px;
	background: #FFFFFF;
}
.position{
	position: relative;
	z-index: 100;
}
a.flecha_bajar{
	display: block;
	position: absolute;
	bottom: 30px;
	left: 47.5%;
	z-index: 999999;
	transition: bottom .3s;
	-webkit-transition: bottom .3s;
	-moz-transition: position .3s;
	-o-transition: position .3s;
	-ms-transition: position .3s;
}
a.flecha_bajar:hover{
	bottom: 0;
}


/****************/
/*-----MENU-----*/
/****************/
ul.links{
	display: block;
	float: right;
	margin-top: 20px;
}
ul.links li{
	float: left;
}
ul.links li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	display: block;
	margin:0 15px;

}
ul.links a.ingresar{
	color: #FFFFFF;
	margin-right: 25px;
}
#cabecera{
	overflow: hidden;
	margin-top: 8px;
}
#cabecera h1 a.logo{
	width: 187px;
	height: 55px;
	display: block;
	float: left;
	text-indent: -999999px;
	background: url(../img/logo.jpg) no-repeat;
}
.nav-collapse{
	height: 55px;
	width: 713px;
	float: right;
	background: url(../img/bg-black.png) repeat;
}
.nav-collapse ul {
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav-collapse li {
	float: left;
}
.nav-collapse li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 55px;
	color: #FFFFFF;
	float: left;
	display: block;
	margin-left: 25px;
}
.nav-collapse li a.ultimo{
	margin-right: 25px;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
	font-family: 'HelveticaMediumCondensed';
	text-decoration: none;
	color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


ul.redes-sociales{
	width: 78px;
	float: right;
	margin-top: 8px;
	margin-right: 25px;
}
ul.redes-sociales li{
	float: left;
}
ul.redes-sociales .facebook, ul.redes-sociales .youtube{
	background: url(../img/facebook.png) no-repeat;
	height: 28px;
	width: 28px;
	margin-left: 10px;
	display: block;
	float: left;
}
ul.redes-sociales .youtube{
	background: url(../img/youtube.png) no-repeat;
}


/****************/
/*-----HOME-----*/
/****************/
/*-----SLIDER-----*/
.slogan{
	position: absolute;
	top: 25%;
	left: 50%;
	margin: 0 0 0 40px;
	z-index: 999999999;
}
.slogan h2{
	font-family: 'RobotoBlack';
	font-size: 55px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: -2px;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	line-height: .8;
	color: #e60004;
}
.slogan h2 span{
	font-family: 'RobotoBold';
	font-size: 45px;
	color: #fff;
}
#slider{
	width: 100%;
	height: 650px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#slider img.foto_novedades{
	width: 100%;
	min-height: 650px;
	display: block;
}
.marcas{
	background: url(../img/home/bg-marcas.png) no-repeat;
	display: block;
	width: 628px;
	height: 66px;
	position: absolute;
	left: 16.5%;
	padding-top: 5px;
	top: 550px;
	z-index: 99999;
}
.marcas ul{
	width: 488px;
	overflow: hidden;
	margin: 0 auto;
}
.marcas ul li{
	float: left;
}
.marcas ul li a{
	display: block;
	width: 118px;
	height: 61px;
	margin: 0 2px;
}
/*-----VISTA 2-----*/
.slogan2{
	width: 230px;
	display: block;
	margin-top: 100px;
	position: absolute;
	z-index: 100000;
}
.slogan2 h2{
	background: url(../img/home/motored-parts.png) no-repeat;
	height:75px;
	width: 219px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	line-height: .8;
	margin-bottom: 30px;
}
.slogan2 h3{
	font-family: 'RobotoBlack';
	font-size: 25px;
	text-transform: uppercase;
	line-height: 1;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan2 h3 span{
	font-size: 35px;
	text-transform: uppercase;
	color: #6abbc5;
}
.producto1{
	display: block;
	width: 257px;
	position: absolute;
	top: 122px;
	left: 435px;
}
.producto2{
	display: block;
	width: 255px;
	position: absolute;
	top: 195px;
	left: 211px;
}
.producto3{
	display: block;
	width: 256px;
	position: absolute;
	top: 198px;
	left: 661px;
}
.producto4{
	display: block;
	width: 256px;
	position: absolute;
	top: 350px;
	left: -15px;
}
.producto5{
	display: block;
	width: 254px;
	position: absolute;
	top: 363px;
	left: 211px;
}
.producto6{
	display: block;
	width: 256px;
	position: absolute;
	top: 288px;
	left: 435px;
}
.producto7{
	display: block;
	width: 244px;
	position: absolute;
	top: 572px;
	left: -5px;
}
.producto8{
	display: block;
	width: 254px;
	position: absolute;
	top: 530px;
	left: 211px;
}
.producto9{
	display: block;
	width: 252px;
	position: absolute;
	top: 577px;
	left: 436px;
}
.producto10{
	display: block;
	width: 255px;
	position: absolute;
	top: 473px;
	left: 661px;
}
.height3{
	height: 679px;
	overflow: visible !important;
}
/*-----vista3-----*/
.slogan3{
	display: block;
	width: 342px;
	top: 165px;
	position: absolute;
}
.slogan3 h2{
	background: url(../img/home/motores-service.png) no-repeat;
	height:75px;
	width: 222px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	margin-bottom: 30px;
}
.slogan3 h3{
	font-family: 'RobotoBlack';
	font-size: 28px;
	text-transform: uppercase;
	line-height: 29px;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan3 h3 span{
	color: #ed1c24;
	font-size: 50px;
}
.slogan3 h3 span strong{
	color: #ed1c24;
	font-size: 28px;
	margin-bottom: -29px;
	display: block;
}

/*-----FIN HOME-----*/








/***************************/
/*-----PÁGINA NOSOTROS-----*/
/***************************/
#nosotros{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/nosotros.jpg) 50% 0 no-repeat #000000;
}
#nosotros .titulo{
	float: right;
	/*margin-right: 50px;*/
	margin-top: 30px;
	position: absolute;
	right: 50px;
}
#nosotros .titulo{
	-webkit-animation: tit_nosotros .8s; /* Chrome, Safari, Opera */
	animation: tit_nosotros .8s;
}
@-webkit-keyframes tit_nosotros{
	from {right: -500px; opacity: 0;}
	to {right: 50px; opacity: 1;}
}
@-moz-keyframes tit_nosotros{
	from {right: -500px; opacity: 0;}
	to {right: 50px; opacity: 1;}
}
@keyframes tit_nosotros{
	from {right: -500px;}
	to {right: 50px}
}

#nosotros .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 90px;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
.bloque_nosotros{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #C3C3C3;
	display: table;
}
.bloque_nosotros .foto{
	width: 50%;
}
.bloque_nosotros .texto_nosotros{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
	display: table-cell;
	vertical-align: middle;
}
.bloque_nosotros h1, .bloque_nosotros .texto_nosotros h1, .bloque_nosotros .texto_nosotros h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.bloque_nosotros h3{
	font-family: 'RobotoBlack';
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
}
.bloque_nosotros .texto_nosotros p{
	font-size: 14px;
	line-height: 1.5;
}
h1.right, h2.right, h3.right, p.right{
	text-align: right;
}
h1.left, h2.left, h3.left, p.left{
	text-align: left;
}
h1.center{
	width: 100%;
	display: table-caption;
	text-align: center;
}
ul.lista_gente{
	width: 100%;
	/*padding-bottom: 60px;*/
}
ul.lista_gente li{
	font-size: 14px;
	text-align: center;
	line-height: 1.5;
}






/***************************/
/*-----PÁGINA NOTICIAS-----*/
/***************************/
#noticias{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	/*background:url(../img/noticias.jpg) 50% 0 no-repeat #000000;*/
}
#noticias .titulo{
	/*float: right;
	margin-right: 50px;
	margin-top: 30px;*/
	position: absolute;
	top: 25%;
	left: 50.8%;
	z-index: 99;
}
#noticias .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 90px;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
ul.lista_noticias{
	overflow: hidden;
	padding-top: 20px;
}
ul.lista_noticias li{
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
ul.lista_noticias li p.fecha{
	font-family: 'RobotoBoldCondensed';
	font-size: 20px;
	text-transform: uppercase;
	width: 180px;
	padding-left: 15px;
}
ul.lista_noticias li .noticia{
	width: 705px;
}
ul.lista_noticias li .noticia h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}






/*************************/
/*-----PÁGINAS PARTS-----*/
/*************************/
#parts{
	width: 100%;
	height: 640px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/parts.jpg) 50% 0 no-repeat #000000;
}
h2.parts{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	width: 670px;
	margin: 0 auto 40px auto;
	padding: 0 15px;
}
#parts .filtro_parts{
	width: 300px;
	/*float: left;
	margin-top: 0;
	margin-left: 25px;*/
	position: absolute;
	left: 25px;
	top: 115px;
}
#parts .filtro_parts p{
	font-size: 17px;
	line-height: 1.2;
	color: #FFFFFF;
	margin-bottom: 10px;
}
#parts .filtro_parts p span{
	font-family: 'RobotoBold';
	font-size: 22px;
	color: #000000;
}
#parts .filtro_parts p strong.rojo{
	color: #AC0007;
}
#parts .filtro_parts form#fparts{
	overflow: hidden;
}
#parts .filtro_parts form#fparts .fila{
	margin-bottom: 10px;
}
#parts .filtro_parts form#fparts select{
	width: 99%;
	height: 30px;
	border: 1px solid #A0A0A0;
	text-transform: uppercase;
	color: #B4B4B4;
}
#parts .filtro_parts input[type="button"].btn_buscar{
	float: left;
}

input[type="button"].btn_agregar{
	font-family: 'RobotoBlack';
	text-transform: uppercase;
	color: #FFFFFF;
	height: 40px;
	float: left;
	padding: 0 15px;
	border: none;
	cursor: pointer;
	background: #758AA2;
}
#parts .filtro_parts form#fparts input[type="button"].btn_agregar{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 150px;
	height: 45px;
	float: left;
	margin-right: 20px;
	border: none;
	cursor: pointer;
	background: #758AA2;
}
#parts .titulo{
	width: 370px;
	height: 240px;
	float: right;
	position: relative;
}
#parts .titulo img{
	float: right;
}
#parts .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 23px;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
	color: #FFFFFF;
	position: absolute;
	top: 160px;
	right: 45px;
}
ul.lista_repuestos{
	width: 670px;
	margin: 0 auto;
	padding: 0 15px;
}
ul.lista_repuestos li{
	width: 310px;
	margin-bottom:  20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #C3C3C3;
}
ul.lista_repuestos li.botones{
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}
ul.lista_repuestos li input[type="button"].pedir_cotizacion{
	margin-top: 0;
}
ul.lista_repuestos li .datos{
	width: 165px;
	float: left;
}
ul.lista_repuestos li .datos .fila{
	margin-top: 5px;
	margin-bottom: 15px;
	overflow: hidden;
}
ul.lista_repuestos li .datos p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 3px;
}
ul.lista_repuestos li .datos p.cantidad{
	line-height: 28px;
}
ul.lista_repuestos li .datos p.cuadro_cantidad{
	text-align: center;
	color: #B4B4B4;
	width: 55px;
	float: left;
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #C3C3C3;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .2) inset;
	background: #FFFFFF;
}
ul.lista_repuestos li .foto{
	float: right;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
}
ul.lista_repuestos li .foto img{
	width: 100%;
	display: block;
}
ul.lista_repuestos li a.btn_continuar_busqueda{
	font-family: 'RobotoBlack';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 140px;
	height: 38px;
	display: block;
	padding: 7px 0 0 0;
	background: #758AA2;
}
ul.lista_repuestos li a.btn_ir{
	font-family: 'RobotoBlack';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 45px;
	color: #FFFFFF;
	height: 45px;
	display: block;
	padding: 0 15px;
	background: #758AA2;
}




/**************************/
/*-----PÁGINA SERVICE-----*/
/**************************/
#service{
	width: 100%;
	height: 640px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/service.jpg) 50% 0 no-repeat #000000;
}
#service .titulo{
	float: right;
	margin-right: 20px;
	margin-top: 30px;
	position: relative;
}
.bloque_service{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_service .texto_service{
	width: 48%;
	padding: 0 1%;
}
.bloque_service .texto_service img{
	margin-top: 50px;
	margin-bottom: 15px;
}
.bloque_service h1, .bloque_service .texto_service h1, .bloque_service .texto_service h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.bloque_service h3{
	font-family: 'RobotoBlack';
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.bloque_service .texto_service p{
	font-size: 14px;
	line-height: 1.5;
}
h1.right, h2.right, h3.right, p.right{
	text-align: right;
}
h1.left, h2.left, h3.left, p.left{
	text-align: left;
}
h1.center{
	text-align: center;
}






/*****************************/
/*-----PÁGINA CAMIONCITO-----*/
/*****************************/
#camioncito{
	width: 100%;
	height: 795px;
	margin: 0 auto;
	padding: 0;
	background:url(../img/camioncito.jpg) 50% 0 no-repeat #000000;
}
.ventana_camioncito{
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px 15px 30px 15px;
	border-top: 20px solid #BE1B1E;
	background: rgba(255, 255, 255, .8); 
}
.ventana_camioncito h2{
	font-family: 'RobotoBlack';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0 15px;
}




/*********************************/
/*-----PÁGINA VALOR AGREGADO-----*/
/*********************************/
#valor_agregado{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/valor_agregado.jpg) 50% 0 no-repeat #000000;
}
#valor_agregado .titulo{
	float: right;
	margin-top: 30px;
	margin-right: 25px;
	position: relative;
}
#valor_agregado .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 90px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	color: #ED1C24;
}
#valor_agregado .titulo h2 span{
	font-family: 'RobotoBold';
	font-size: 38px;
	color: #FFFFFF;
	float: right;
	margin-right: 15px;
	
}
ul.sub_menu{
	width: 210px;
	float: left;
	margin-left: 50px;
	border-top: 1px solid #000000;
}
ul.sub_menu li{
	width: 130px;
	padding: 10px 40px;
	border-bottom: 1px solid #000000;
}
ul.sub_menu li a{
	font-family: 'RobotoBoldCondensed';
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
ul.sub_menu li ul{
	padding-left: 25px
}
ul.sub_menu li ul li{
	width: auto;
	margin: 10px 0;
	padding: 0 0 0 25px;
	border: none;
}
ul.sub_menu li ul li a{
	font-family: 'HelveticaMediumCondensed';
	text-transform: inherit;
	color: #646464;
}
ul.sub_menu li a.activo{
	color: #000000;
}
.valor_agregado .fila{
	margin-bottom: 30px;
}
.valor_agregado h1{
	font-family: 'HelveticaMediumCondensed';
	font-size: 23px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 30px;
}
.valor_agregado h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 10px;
}
.valor_agregado p{
	font-size: 14px;
	text-align: justify;
	line-height: 1.4;
}
.contenido{
	width: 470px;
	float: right;
	padding: 0 85px;
}



/***************************/
/*-----PÁGINA UBÍCANOS-----*/
/***************************/
#ubicanos{
	width: 100%;
	min-height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/ubicanos.jpg) 50% 0 no-repeat #000000;
}
#ubicanos .titulo{
	float: right;
	margin-right: 50px;
	margin-top: 30px;
	position: relative;
}
#ubicanos .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 90px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -4px;
	color: #ED1C24;
}
.cuadro_ubicanos{
	width: 650px;
	min-height: 327px;
	overflow: hidden;
	clear: both;
	margin: 20px auto 0 auto;
	padding: 30px 75px 30px 75px;
	border-top: 20px solid rgba(120, 150, 170, 0.7);
	background: rgba(255, 255, 255, .7);
}
.cuadro_ubicanos .bloque_izq{
	width: 200px;
	float: left;
}
.cuadro_ubicanos .bloque_der{
	width: 450px;
	float: right;
}
.cuadro_ubicanos h3{
	font-family: 'RobotoBlack';
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.cuadro_ubicanos h4{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.cuadro_ubicanos p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.cuadro_ubicanos a.btn{
	text-transform: inherit;
}
.cuadro_ubicanos .mapa{
	/*position: absolute;
	bottom: 0;*/
}
#desplegable{
	width: 200px;
	float: left;
}
#desplegable a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #3C3C3C;
}
#desplegable a.secundario{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-decoration: none;
	text-transform: inherit;
	line-height: 1.2;
	color: #3C3C3C;
	width: 100%;
	display: block;
	margin-bottom: 3px;
}
#desplegable h4 + div {
	height: 0px;
	padding: 0px;
	overflow: hidden;
	display: block!important;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.3s ease;
	moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#desplegable .contenedor_desplegable{
	margin-bottom: 10px;
	padding: 0;
}

#desplegable h4.open + div {
	height: auto;
	margin-bottom: 10px;
	background: none;
}
#desplegable h4.open a{
	font-weight: bold;
	color: #000000;
}
ul.lista_direcciones{
	margin: 0;
	padding: 20px 0 0 200px;
	clear: both;
}
ul.lista_direcciones li{
	margin-bottom: 25px;
}
ul.lista_direcciones li p{
	font-size: 14px;
	line-height: 1.4;
}
ul.lista_direcciones li a.btn{
	font-size: 14px;
	text-transform: inherit;
	color: #008EF1;
}


/******************************/
/*-----PÁGINA CONTACTANOS-----*/
/******************************/
#contactanos{
	width: 100%;
	height: 900px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/contactanos.jpg) 50% 0 no-repeat #000000;
}

.contenedor_formulario{
	width: 610px;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px 30px;
	position: relative;
	border-top: 20px solid #ED1C24;
	background: rgba(255, 255, 255, .7);
}
.contenedor_formulario .linea{
	width: 1px;
	height: 223px;
	position: absolute;
	top: 20px;
	left: 50%;
	background: #A0A0A0;
}
.contenedor_formulario h2{
	font-family: 'RobotoBlack';
	font-size: 20px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 20px;
}
.contenedor_formulario .bloque_izq{
	width: 295px;
	float: left;
}
.contenedor_formulario .bloque_der{
	width: 295px;
	float: right;
}
.contenedor_formulario .fila{
	margin-bottom: 10px;
}
#fcontacto{
	overflow: hidden;
}
.contenedor_formulario .bloque{
	overflow: hidden;
	margin-bottom: 5px;
}
.datos_contacto{
	width: 610px;
	margin: 20px auto;
	padding: 0 30px;
}
.datos_contacto p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
	line-height: 1.4;
	color: #FFFFFF;
}
.datos_contacto p span{
	text-transform: uppercase;
}



/*******************************/
/*-----PÁGINA CREAR CUENTA-----*/
/*******************************/
#crear_cuenta{
	width: 100%;
	height: 685px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/crear-cuenta.jpg) 50% 0 no-repeat #000000;
}
#fcrearcuenta .fila_absolute{
	position:  absolute;
}


/**************************/
/*-----PÁGINA USUARIO-----*/
/**************************/
#usuario{
	width: 100%;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usuario.jpg) 50% 0 no-repeat #000000;
}
#usuario .bloque_izq{
	width: 40%;
}
#usuario .bloque_der{
	width: 45%;
}
#usuario a.olvido{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-decoration: none;
	color: #ED1C24;
}
#fusuario{
	overflow: hidden;
}
#fusuario label{
	color: #969696;
}
#fusuario p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	color: #787878;
}
#fusuario p span{
	font-family: 'RobotoBlack';
	font-size: 22px;
	color: #000000;
}
#fusuario p span.rojo{
	color: #ED1C24;
}
#fusuario .texto_cuenta{
	margin-top: 10px;
	margin-bottom: 35px;
}



/************************************/
/*-----PÁGINA OLVIDO CONTRASÉÑA-----*/
/************************************/
#olvido_contrasena{
	width: 100%;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usuario.jpg) 50% 0 no-repeat #000000;
}
#olvido_contrasena h2{
	margin-bottom: 5px;
}
#olvido_contrasena p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	margin-bottom: 20px;
}
#folvido input[type="email"]{
	width: 40%;
}
/**************************/
/*-----PÁGINA GRACIAS-----*/
/**************************/
#gracias{
	width: 100%;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usuario.jpg) 50% 0 no-repeat #000000;
}
#gracias h2{
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 40px;
}
#gracias p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 1.4;
	margin-bottom: 10px;
}
#gracias p span{
	font-family: 'RobotoBold';
	font-size: 25px;
}
#gracias p strong.rojo{
	color: #ED1C24;
}




/**************************/
/*-----PÁGINA GALERIA-----*/
/**************************/
#galeria{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/galeria.jpg) 50% 0 no-repeat #000000;
}
#galeria .titulo{
	float: right;
	margin-right: 50px;
	margin-top: 30px;
	position: relative;
}
#galeria .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 90px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -4px;
	color: #ED1C24;
}
.contenedor_filtro{
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}
.contenedor_filtro h3{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}
/*--FILTRO--*/
ul.filtro{
	width: 435px;
	overflow: hidden;
	float: left;
	padding: 0 177px;
}
ul.filtro li { 
	float: left; 
}
/*
ul.filtro li:after { 
	content: "/";
}
*/
ul.filtro li:last-child:after { 
	content: "";
}
ul.filtro a { 
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none; 
	color: #000000; 
	padding: 0 20px; 
}
ul.filtro .activo a{
	text-decoration: underline;
}
ul.filtro a:hover, .activo a {
	color: #4f0d4d; 
}

/*--PORTAFOLIO--*/
ul.portafolio{
	width: 900px;
	overflow: hidden;
}
ul.portafolio li { 
	float: left; 
	margin-right: 33px; 
	margin-bottom: 45px; 
}
ul.portafolio li:nth-child(4n) { 
	margin-right: 0; 
}
ul.portafolio a { 
	display: block; 
	text-decoration: none; 
}
ul.portafolio img { 
	width: 200px; 
	height: 155px; 
	display: block; 
}


/*--FILTRO VIDEOS--*/
ul.filtro_videos{
	width: 435px;
	overflow: hidden;
	float: left;
	padding: 0 194px;
}
ul.filtro_videos li { 
	float: left; 
}
ul.filtro_videos li:after { 
	content: "/";
}
ul.filtro_videos li:last-child:after { 
	content: "";
}
ul.filtro_videos a { 
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none; 
	color: #000000; 
	padding: 0 20px; 
}
ul.filtro_videos .activo a{
	text-decoration: underline;
}
ul.filtro_videos a:hover, .activo a {
	color: #4f0d4d; 
}

/*--PORTAFOLIO--*/
ul.videos{
	width: 900px;
	overflow: hidden;
}
ul.videos li { 
	float: left; 
	margin-right: 33px; 
	margin-bottom: 45px; 
}
ul.videos li:nth-child(4n) { 
	margin-right: 0; 
}
ul.videos a { 
	display: block; 
	text-decoration: none; 
}
ul.videos img { 
	width: 200px; 
	height: 155px; 
	display: block; 
}

/****************************/
/*-----PÁGINA PRODUCTOS-----*/
/****************************/
#productos{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	/*background:url(../img/productos/daf_cf.jpg) 50% 0 no-repeat #000000;*/
}
.foto-absolute{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: #000000;
}
.foto-absolute img{
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
#productos .titulo{
	position: absolute;
	top: 215px;
	right: 45px;
}
#productos .titulo img{
	display: block;
	float: right;
	margin-bottom: 5px;
}
#productos .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 115px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	color: #FFF01E;
}
#productos .titulo p{
	font-family: 'RobotoBold';
	font-size: 20px;
	text-align: right;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	line-height: 1.1;
	color: #FFFFFF;
}
#productos .descarga_cotiza{
	background: url(../img/productos/fondo_selectores.png) no-repeat;
	display: block;
	width: 680px;
	height: 70px;
	position: absolute;
	left: 12%;
	padding-top: 5px;
	top: 550px;
	z-index: 99999;
}
#productos .descarga_cotiza ul{
	width: 230px;
	overflow: hidden;
	margin: 0 auto;
}
#productos .descarga_cotiza ul li{
	float: left;
	margin: 0 5px;
}
.bloque_producto{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_producto .texto_producto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .texto_producto img{
	margin-top: 50px;
	margin-bottom: 15px;
}
.bloque_producto h1, .bloque_producto .texto_producto h1, .bloque_producto .texto_producto h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.bloque_producto h3{
	font-family: 'RobotoBlack';
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.bloque_producto .texto_producto p{
	font-size: 14px;
	line-height: 1.5;
}
.bloque_producto .texto_producto p.garantia{
	font-size: 8px;
}




/*************************/
/*-----PÁGINA GRILLA-----*/
/*************************/
#grilla{
	width: 100%;
	height: 825px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/grilla.jpg) 50% 0 no-repeat #000;
	-webkit-animation: fon_grilla 30s infinite; /* Chrome, Safari, Opera */
	animation: fon_grilla 30s infinite;
}
@-webkit-keyframes fon_grilla{
	0%   {background:url(../img/grilla.jpg) 50% 0 no-repeat #000;}
	50%  {background:url(../img/grilla_02.jpg) 50% 0 no-repeat #000;}
	100% {background:url(../img/grilla_03.jpg) 50% 0 no-repeat #000;}
}
@keyframes fon_grilla{
	0%   {background:url(../img/grilla.jpg) 50% 0 no-repeat #000;}
	50%  {background:url(../img/grilla_02.jpg) 50% 0 no-repeat #000;}
	100% {background:url(../img/grilla_03.jpg) 50% 0 no-repeat #000;}
}

.contenedor_grilla{
	width: 840px;
	overflow: hidden;
	margin: 15px auto;
	background: rgba(220, 220, 220, .6);
}
.cabecera_grilla{
	width: 100%;
	height: 25px;
	background: #ED1C24;
}
.cabecera_grilla h3.industria{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 740px;
	float: left;
}
.cabecera_grilla h3.combustible{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 100px;
	float: left;
}
ul.filtros_grilla{
	width: 100%;
	overflow: hidden;
}
ul.filtros_grilla li{
	width: auto;
}
ul.filtros_grilla li ul.lista_industria{
	width: 740px;
	min-height: 25px;
	float: left;
	padding-top: 15px;
	background: #D2DCD7;
}
ul.filtros_grilla li ul.lista_industria li{
	max-width: 80px;
	float: left;
	overflow: hidden;
	margin: 0 5px;
}
ul.filtros_grilla li ul.lista_industria li label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 8px;
	margin-right: 0;
}

ul.filtros_grilla li ul.lista_combustible{
	width: 100px;
	min-height: 25px;
	float: left;
	padding-top: 15px;
	background: none;
}
ul.filtros_grilla li ul.lista_combustible li{
	float: left;
	overflow: hidden;
	margin: 0 5px;
}
ul.filtros_grilla li ul.lista_combustible li label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 8px;
	margin-right: 0;
}


.marcas_grilla{
	width: 130px;
	float: left;
	background: #FFFFFF;
}
.marcas_grilla img{
	display: block;
	margin: 0 auto;
}
.marcas_grilla .kenworth{
	width: 100%;
	height: 135px;
	padding-top: 105px;
}
.marcas_grilla .iveco{
	width: 100%;
	height: 130px;
	padding-top: 95px;
}
.marcas_grilla .daf{
	width: 100%;
	height: 80px;
	padding-top: 40px;
}

ul.modelo_camiones{
	width: 710px;
	overflow: hidden;
	float: left;
}
ul.modelo_camiones li{
	width: 100%;
	height: auto;
}
ul.modelo_camiones li ul{
	width: 100%;
	overflow: hidden;
}
ul.modelo_camiones li ul.f_oscuro{
	background: rgba(0, 0, 0, .15);
}
ul.modelo_camiones li ul li{
	width: 100px;
	height: auto;
	float: left;
	margin: 10px 5px 15px 5px;
}
ul.modelo_camiones li.clear{
	width: auto;
	margin: 0;
}
ul.modelo_camiones li ul li p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	line-height: .8;
}




/****************************/
/*-----PÁGINA VEHICULOS-----*/
/****************************/
#vehiculos{
	width: 100%;
	height: 795px;
	margin: 0 auto;
	padding: 0;
	background:url(../img/vehiculos/fondo.jpg) 50% 0 no-repeat #000000;
}
.ventana_vehiculos{
	width: 815px;
	min-height: 505px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background: url(../img/vehiculos/fondo-vehiculos.jpg) no-repeat center 120px;
}
.vehiculo_kenworth, .vehiculo_daf, .vehiculo_iveco{
	width: 33.33%;
	height: 120px;
	float: left;
	background: rgba(255, 255, 255, .6);
}
.logo_vehiculo{
	width: 100%;
	height: 85px;
}
.vehiculo_kenworth .logo_vehiculo{
	background: rgba(255, 255, 255, .25);
}
.vehiculo_daf .logo_vehiculo{
	background: rgba(40, 30, 25, .15);
}
.vehiculo_iveco .logo_vehiculo{
	background: rgba(40, 30, 25, .25);
}
.logo_vehiculo img{
	display: block;
	margin: 0 auto;
}
.vehiculo_kenworth ul.modelo_vehiculo{
	background: rgba(40, 30, 25, .2);
}
.vehiculo_daf ul.modelo_vehiculo{
	background: rgba(40, 30, 25, .25);
}
.vehiculo_iveco ul.modelo_vehiculo{
	background: rgba(40, 30, 25, .35);
}


ul.modelo_vehiculo{
	width: 100%;
	height: 35px;
}
ul.modelo_vehiculo li.elegir{
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
	width: 100%;
	height: 35px;
}
ul.modelo_vehiculo li.elegir a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 17px;
	text-decoration: none;
	color: #000000;
	width: 100%;
	height: 35px;
	display: block;
}

ul.modelo_vehiculo li.elegir ul{
	width: 90px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	display: none;
}
ul.modelo_vehiculo li.elegir ul li a:hover{
	color: #EED200;
}
ul.modelo_vehiculo li.elegir ul li a{
	font-size: 14px;
	color: #FFFFFF;
}
ul.modelo_vehiculo li.elegir:hover ul{
	display: block;
	opacity: 1;
}











/*************************/
/*-----PÁGINA USADOS-----*/
/*************************/
#usados{
	width: 100%;
	height: 640px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usados/fondo.jpg) 50% 0 no-repeat #000000;
}
#usados .titulo{
	float: left;
	margin: 20px 0 0 0;
}
#usados .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 38px;
	text-transform: uppercase;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	line-height: .95;
	color: #FFFFFF;
}
#usados .titulo h2 span.grande{
	font-size: 45px;
}
#usados .titulo h2 span.rojo{
	font-size: 55px;
	color: #E60004;
}
#usados .fotos img.camiones-uno{
	position: absolute;
	top: 265px;
	left: 35px;
}
#usados .fotos img.camiones-dos{
	position: absolute;
	top: 155px;
	right: 5px
}

ul.lista_usados{
	width: 100%;
}
ul.lista_usados li{
	width: 100%;
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	background: url(../img/usados/borde.png) no-repeat bottom;
}
ul.lista_usados li .mod-prec-soli{
	width: 220px;
	float: left;
	margin: 0 30px 0 0;
}
ul.lista_usados li .mod-prec-soli .foto-camion{
	margin: 0 0 10px 0;
}
ul.lista_usados li .mod-prec-soli p.precio{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	color: #FFFFFF;
	height: 60px;
	width: 220px;
	margin: 0 0 10px 0;
	background: #D26776;
}
ul.lista_usados li .mod-prec-soli p.precio span{
	font-size: 25px;
}
ul.lista_usados li .mod-prec-soli a.solicite-informacion{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3;
	color: #FFFFFF;
	height: 50px;
	width: 220px;
	display: block;
	padding: 10px 0 0 0;
	background: #758AA2;
}


ul.lista_usados li .info-camion{
	width: 650px;
	min-height: 293px;
	overflow: hidden;
	float: right;
	position: relative;
}
ul.lista_usados li .info-camion h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	margin: 0 0 30px 0;
}
ul.lista_usados li .info-camion .datos{
	width: 50%;
	float: left;
}
ul.lista_usados li .info-camion .datos p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	margin: 0 0 5px 0;
}

ul.lista_usados li .info-camion .lista-fotos{
	width: 100%;
	height: 90px;
	overflow: hidden;
	float: right;
	position: absolute;
	bottom: 0;
}
ul.lista_usados li .info-camion .lista-fotos img{
	float: left;
	margin: 0 20px 0 0;
}




#piepagina{
	height: 50px;
	padding-top: 20px;
	z-index: 9999999;
	background: #000000;
}
#piepagina img{
	display: block;
	margin: 0 auto;
}
#piepagina p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 15px;
	color: #B6B6B6;
	display: block;
	float: left;
	position: absolute;
	left: 5%;
	top: 10px;
}
#piepagina .contenedor_pie{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	position: relative;
}



@media screen and (min-width: 769px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
