@media screen and (max-width: 768px) and (min-width: 480px){
.contenedor{
	min-width: 480px;
	width: 480px;
	margin: 0 auto;
	position: relative;
}
.fondo_blanco{
	width: 100%;
}

/*-----MENU-----*/
.inner-header{
	margin: 10px auto 0 auto;
	position: relative;
}
#cabecera{
	overflow: inherit;
	margin: 0;
	padding: 15px 10px 10px 10px;
	position: relative;
	background: rgba(0, 0, 0, .35);
}
#cabecera h1 a.logo{
	width: 124px;
	height: 36px;
	display: block;
	margin: 0 auto;
	text-indent: -999999px;
	position: absolute;
	top: -70px;
	left: 35%;
	background: url(../img/logo.jpg) no-repeat;
	background-size: 100%;
}
ul.links{
	width: auto;
	display: block;
	overflow: hidden;
	margin: 50px auto 10px auto;
	padding: 0 7px;
}
ul.links li{
	float: left;
}
ul.links li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	display: block;
	margin:0 10px;
}
ul.links a.ingresar{
	color: #FFFFFF;
	margin-right: 25px;
}

ul.redes-sociales{
	width: 78px;
	float: none;
	position: absolute;
	top: 7px;
	right: 7px;
	margin-top: 0;
	margin-right: 0;
}
ul.redes-sociales .facebook, ul.redes-sociales .youtube{
	background: url(../img/facebook.png) no-repeat;
	height: 28px;
	width: 28px;
	margin-left: 10px;
	display: block;
	float: left;
}
ul.redes-sociales .youtube{
	background: url(../img/youtube.png) no-repeat;
}

.nav-collapse{
	height: auto;
	width: 100%;
	position: absolute;
	float: none;
	background: none;
}
.nav-collapse ul {
	float: none;
	overflow: hidden;
	margin: 0;
	padding: 0 10px 10px 10px;
}

.nav-collapse li {
	width: 100%;
	float: none;
	padding: 8px 0;
	border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.nav-collapse li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	color: #FFFFFF;
	float: none;
	display: block;
	margin-left: 0;
}
.nav-collapse li a.ultimo{
	margin-right: 0
}




/****************/
/*-----HOME-----*/
/****************/
/*-----SLIDER-----*/
.slogan{
	position: absolute;
	top: 25%;
	left: 40%;
	margin: 0 0 0 40px;
	z-index: 90;
}
.slogan h2{
	font-family: 'RobotoBlack';
	font-size: 40px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: -2px;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	line-height: .8;
	color: #e60004;
}
.slogan h2 span{
	font-family: 'RobotoBold';
	font-size: 35px;
	color: #fff;
}
#slider{
	width: 100%;
	height: 650px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#slider img.foto_novedades{
	width: 100%;
	min-height: 650px;
	display: block;
}
.rsABlock.img.camion_novedad_uno{
	top: 28%;
	right: -35%;
	margin: 0 0 0 -1030px;
}
.rsABlock.img.camion_novedad_dos{
	top: 23%;
	right: -20%;
	margin: 0 0 0 -900px;
}
.rsABlock.img.camion_novedad_tres{
	top: 10%;
	right: -50%;
	margin: 0 0 0 -1500px;
}
.rsArrow{
	display: none !important;
}
.rsBullets{
	display: block;
	position: absolute;
	z-index: 99999999999999999;
	top: 91%;
	left: 5%;
}
.rsBullet{
	float: left;
	padding: 3px;
	cursor: pointer;
}
.rsBullet span{
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
}
.rsNavSelected span{
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
}
.rsABlock.img{
	left: 50%;
	top: 280px;
	position: absolute;
	z-index: 15;
	margin: 0 0 0 -50%;
}
.rsArrow.rsArrowLeft{
	left:2%;
}
.rsArrow.rsArrowRight{
	background-position:-55px 0;
	right:2%;
}
.marcas{
	background: url(../img/home/bg-marcas.png) no-repeat center;
	display: block;
	width: 480px;
	height: 64px;
	position: absolute;
	left: 2%;
	padding-top: 7px;
	top: 550px;
	z-index: 99999;
}
.marcas ul{
	width: 457px;
	overflow: hidden;
	margin: 0 auto;
}
.marcas ul li{
	float: left;
}
.marcas ul li a{
	display: block;
	width: 110px;
	height: 61px;
	margin: 0 2px;
}
.marcas ul li a img{
	width: 100%;
	display: block;
}


/*-----VISTA 2-----*/
#vista2{
	color: #FFFFFF;
	height: 791px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 9999999;
	background: url(../img/fondo3.jpg) 50% 0 repeat;
}
.relativo{
	height: 791px;
	overflow: hidden;
	position: relative;
}
.slogan2{
	width: 230px;
	display: block;
	margin-top: 100px;
	position: absolute;
	left: 2%;
	z-index: 100000;
}
.slogan2 h2{
	background: url(../img/home/motored-parts.png) no-repeat;
	background-size: 100%;
	height:75px;
	width: 200px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	line-height: .8;
	margin-bottom: 30px;
}
.slogan2 h3{
	font-family: 'RobotoBlack';
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan2 h3 span{
	font-size: 32px;
	text-transform: uppercase;
	color: #6abbc5;
}
.producto1{
	display: block;
	width: 122px;
	position: absolute;
	top: 222px !important;
	left: 245px;
}
.producto2{
	display: block;
	width: 140px;
	position: absolute;
	top: 265px !important;
	left: 115px;
}
.producto3{
	display: block;
	width: 186px;
	position: absolute;
	top: 148px;
	left: 361px;
}
.producto4{
	display: block;
	width: 131px;
	position: absolute;
	top: 330px;
	left: -5px;
}
.producto5{
	display: block;
	width: 139px;
	position: absolute;
	top: 363px;
	left: 115px;
}
.producto6{
	display: block;
	width: 131px;
	position: absolute;
	top: 305px;
	left: 245px;
}
.producto7{
	display: block;
	width: 135px;
	position: absolute;
	top: 445px;
	left: -5px;
}
.producto8{
	display: block;
	width: 140px;
	position: absolute;
	top: 455px;
	left: 115px;
}
.producto9{
	display: block;
	width: 127px;
	position: absolute;
	top: 455px;
	left: 245px;
}
.producto10{
	display: block;
	width: 140px;
	position: absolute;
	top: 405px;
	left: 361px;
}
.producto1  img, .producto2  img, .producto3  img, .producto4  img, .producto5  img, .producto6  img, .producto7  img, .producto8  img, .producto9  img, .producto10  img{
	width: 100%;
	display: block;
}
/*--VISTA 3--*/
#vista3 .bg{
	height: 720px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 900px;
	/*z-index: 200;
	background: url(../img/llave3.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave3.png) 50% 0 no-repeat;
	z-index:999;
}
#vista3 .bg2{
	/*background: url(../img/llave2.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave2.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 800px;
	z-index: 200;
}
#vista3 .bg3{
	/*background: url(../img/llave1.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave1.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 700px;
	z-index: 200;
}


/***************************/
/*-----PÁGINA NOSOTROS-----*/
/***************************/
.bloque_nosotros{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 30px 0 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_nosotros .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;	
	display: none;
}
.bloque_nosotros .foto img{
	width: 100%;
	display: block;
}
.bloque_nosotros .texto_nosotros{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.bloque_nosotros .texto_nosotros.m_top_60{
	margin-top: 0;
}
.bloque_nosotros h1.m_top_60{
	margin-top: 0;
}
.bloque_nosotros .texto_nosotros p.m_bottom_30{
	margin-bottom: 0;
}
.bloque_nosotros .texto_nosotros a.btn{
	float: none;
	margin: 0;
}
h1.right, h2.right, h3.right, p.right{
	text-align: left;
}
h1.left, h2.left, h3.left, p.left{
	text-align: left;
}
h1.center{
	text-align: left;
}
ul.lista_gente{
	width: 100%;
	padding-bottom: 0;
}
ul.lista_gente li{
	font-size: 14px;
	text-align: left;
	line-height: 1.5;
}


/***************************/
/*-----PÁGINA NOTICIAS-----*/
/***************************/
#noticias .titulo{
	/*float: right;
	margin-right: 50px;
	margin-top: 30px;*/
	position: absolute;
	top: 25%;
	left: 30.8%;
}
#noticias .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 75px;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
ul.lista_noticias li p.fecha{
	font-family: 'RobotoBoldCondensed';
	font-size: 20px;
	text-transform: uppercase;
	width: auto;
	margin-bottom: 10px;
	padding-left: 0;
}
ul.lista_noticias li .noticia{
	width: 100%;
}



/*************************/
/*-----PÁGINAS PARTS-----*/
/*************************/
h2.parts{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	width: 440px;
	margin: 0 auto 40px auto;
	padding: 0 20px;
}
#parts .filtro_parts{
	width: 190px;
	float: left;
	margin-top: 10px;
	position: inherit;
	left: inherit;
	top: inherit;
}
#parts .filtro_parts form#fparts select{
	width: 99%;
	height: 30px;
	border: 1px solid #A0A0A0;
	text-transform: uppercase;
	color: #B4B4B4;
}
#parts .titulo{
	width: 270px;
	height: 240px;
	float: right;
	position: relative;
}
#parts .titulo img{
	width: 100%;
	display: block;
	float: right;
}
#parts .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 23px;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
	color: #FFFFFF;
	position: absolute;
	top: 110px;
	right: 30px;
}
ul.lista_repuestos{
	width: 440px;
	margin: 0 auto;
	padding: 0;
}
ul.lista_repuestos li{
	width: 440px;
	margin-bottom:  20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #C3C3C3;
}
ul.lista_repuestos li .datos{
	width: 280px;
	float: left;
}


/**************************/
/*-----PÁGINA SERVICE-----*/
/**************************/
.bloque_service .foto{
	width: 48%;
	padding: 0 1%;
}
.bloque_service .foto img{
	width: 100%;
	display: block;
}
.bloque_service a.btn{
	float: left;
}
.bloque_service .texto_service{
	width: 48%;
	padding: 0 1%;
}
.bloque_service .texto_service h1.p_top_30{
	padding-top: 10px;
}
.bloque_service .texto_service img{
	margin-top: 30px;
	margin-bottom: 15px;
}
.bloque_service .texto_service.m_top_100{
	margin-top: 25px;
}



/*****************************/
/*-----PÁGINA CAMIONCITO-----*/
/*****************************/
#camioncito{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 0 50px 0;
	background:url(../img/camioncito.jpg) 50% 0 no-repeat #000000;
}
.ventana_camioncito{
	width: 440px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px 20px 30px 20px;
	border-top: 20px solid #BE1B1E;
	background: rgba(255, 255, 255, .8); 
}


/*********************************/
/*-----PÁGINA VALOR AGREGADO-----*/
/*********************************/
ul.sub_menu{
	width: 180px;
	float: left;
	margin-left: 0;
	border-top: 1px solid #000000;
}
ul.sub_menu li{
	width: 130px;
	padding: 10px 25px;
	border-bottom: 1px solid #000000;
}
.valor_agregado p{
	font-size: 14px;
	text-align: justify;
	line-height: 1.4;
}
.contenido{
	width: 280px;
	float: right;
	padding: 0 0 0 20px;
}



/***************************/
/*-----PÁGINA UBÍCANOS-----*/
/***************************/
.cuadro_ubicanos{
	width: 440px;
	height: 327px;
	max-height: 327px;
	overflow: hidden;
	clear: both;
	margin: 20px auto 0 auto;
	padding: 30px 20px 0 20px;
	border-top: 20px solid rgba(120, 150, 170, 0.7);
	background: rgba(255, 255, 255, .7);
}
.cuadro_ubicanos iframe{
	width: 100%;
}
.cuadro_ubicanos .bloque_izq{
	width: 140px;
	float: left;
}
.cuadro_ubicanos .bloque_der{
	width: 300px;
	float: right;
}
.cuadro_ubicanos .mapa{
	width: 300px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
#desplegable{
	width: 140px;
	float: left;
}
#desplegable a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #3C3C3C;
}
#desplegable a.secundario{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	text-decoration: none;
	text-transform: inherit;
	line-height: 1.2;
	color: #3C3C3C;
	width: 100%;
	display: block;
	margin-bottom: 3px;
}
ul.lista_direcciones{
	margin-left: 130px;
}
ul.lista_direcciones li{
	margin-bottom: 25px;
}
ul.lista_direcciones li p{
	font-size: 14px;
	line-height: 1.4;
}
ul.lista_direcciones li a.btn{
	font-size: 14px;
	text-transform: inherit;
	color: #008EF1;
}




/******************************/
/*-----PÁGINA CONTACTANOS-----*/
/******************************/
#contactanos{
	width: 100%;
	height: 1200px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/contactanos.jpg) 50% 0 no-repeat #000000;
}
.contenedor_formulario{
	width: 440px;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px 20px;
	position: relative;
	border-top: 20px solid #ED1C24;
	background: rgba(255, 255, 255, .7);
}
.contenedor_formulario .linea{
	width: 1px;
	height: 223px;
	position: absolute;
	top: 20px;
	left: 50%;
	background: #A0A0A0;
	display: none;
}
.contenedor_formulario .bloque_izq{
	width: 100%;
	float: none:;
}
.contenedor_formulario .bloque_der{
	width: 100%;
	float: none;
}
.datos_contacto{
	width: 440px;
	margin: 20px auto;
	padding: 0 20px;
}


/*******************************/
/*-----PÁGINA CREAR CUENTA-----*/
/*******************************/
#crear_cuenta{
	width: 100%;
	height: 985px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/crear-cuenta.jpg) 50% 0 no-repeat #000000;
}
#fcrearcuenta .fila_absolute{
	position:  absolute;
}


/**************************/
/*-----PÁGINA USUARIO-----*/
/**************************/
#usuario{
	width: 100%;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usuario.jpg) 50% 0 no-repeat #000000;
}
#usuario .bloque_izq{
	width: 100%;
	overflow: hidden;
	float: none;
	margin-bottom: 20px;
}
#usuario .bloque_der{
	width: 100%;
	overflow: hidden;
	float: none;
}
#usuario a.olvido{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-decoration: none;
	color: #ED1C24;
}
#fusuario{
	overflow: hidden;
}
#fusuario label{
	color: #969696;
}
#fusuario p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	color: #787878;
}
#fusuario p span{
	font-family: 'RobotoBlack';
	font-size: 22px;
	color: #000000;
}
#fusuario p span.rojo{
	color: #ED1C24;
}
#fusuario .texto_cuenta{
	margin-top: 10px;
	margin-bottom: 5px;
}



/**************************/
/*-----PÁGINA GALERIA-----*/
/**************************/
.contenedor_filtro h3{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	float: none;
	margin-bottom: 15px;
}
/*--FILTRO--*/
ul.filtro{
	width: 434px;
	overflow: hidden;
	float: none;
	padding: 0 23px;
}
/*--PORTAFOLIO--*/
ul.portafolio{
	width: 480px;
	height: auto !important;
	overflow: hidden;
}
ul.portafolio li { 
	width: 220px;
	float: left; 
	margin-right: 10px; 
	margin-left: 10px;
	margin-bottom: 30px; 
}
ul.portafolio img { 
	width: 100%; 
	height: auto; 
	display: block; 
}
ul.portafolio a { 
	display: block; 
	text-decoration: none; 
}


/*--FILTRO VIDEOS--*/
ul.filtro_videos{
	width: 434px;
	overflow: hidden;
	float: none;
	padding: 0 23px;
}
/*--PORTAFOLIO--*/
ul.videos{
	width: 480px;
	height: auto !important;
	overflow: hidden;
}
ul.videos li { 
	width: 220px;
	float: left; 
	margin-right: 10px; 
	margin-left: 10px;
	margin-bottom: 30px; 
}
ul.videos img { 
	width: 100%; 
	height: auto; 
	display: block; 
}

/**************************/
/*-----PÁGINA GRACIAS-----*/
/**************************/
#gracias .btn_menu p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	text-transform: uppercase;
	line-height: 25px;
	color: #FFFFFF;
	display: block;
	float: left;
	margin-left: 5px;
}

/****************************/
/*-----PÁGINA PRODUCTOS-----*/
/****************************/
#productos .descarga_cotiza{
	background: url(../img/productos/fondo_selectores.png) no-repeat center;
	display: block;
	width: 480px;
	height: 68px;
	position: absolute;
	left: 4.5%;
	top: 550px;
	padding-top: 7px;
	z-index: 99999;
}
.bloque_producto{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_producto .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .foto img{
	width: 100%;
	display: block;
}
.bloque_producto .texto_producto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .texto_producto h1.p_top_60{
	padding-top: 10px;
}
.bloque_producto .texto_producto h1.p_top_70{
	padding-top: 20px;
}
.bloque_producto .texto_producto h1.p_top_80{
	padding-top: 5px;
}
.bloque_producto .texto_producto h1.p_top_20{
	padding-top: 10px;
}



/*************************/
/*-----PÁGINA GRILLA-----*/
/*************************/
#grilla{
	width: 100%;
	height: 835px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/grilla.jpg) 50% 0 no-repeat #000000;
}
.contenedor_grilla{
	width: 480px;
	overflow: hidden;
	margin: 15px auto;
	background: rgba(220, 220, 220, .6);
}
.cabecera_grilla h3.industria{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 400px;
	float: left;
}
.cabecera_grilla h3.combustible{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 80px;
	float: left;
}
ul.filtros_grilla{
	width: 100%;
	overflow: hidden;
}
ul.filtros_grilla li{
	width: auto;
}
ul.filtros_grilla li ul.lista_industria{
	width: 400px;
	min-height: 25px;
	float: left;
	padding-top: 10px;
	background: #D2DCD7;
}
ul.filtros_grilla li ul.lista_industria li{
	max-width: 80px;
	float: left;
	overflow: hidden;
	margin: 0 4px 10px;
}
ul.filtros_grilla li ul.lista_industria li label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 9px;
	margin-right: 0;
}

ul.filtros_grilla li ul.lista_combustible{
	width: 80px;
	min-height: 25px;
	float: left;
	padding-top: 10px;
	background: none;
}
ul.filtros_grilla li ul.lista_combustible li{
	float: left;
	overflow: hidden;
	margin: 0 4px 15px;
}


.marcas_grilla{
	width: 128px;
	float: left;
	background: #FFFFFF;
}
.marcas_grilla .kenworth{
	width: 100%;
	height: 105px;
	padding-top: 85px;
}
.marcas_grilla .iveco{
	width: 100%;
	height: 155px;
	padding-top: 130px;
}
.marcas_grilla .daf{
	width: 100%;
	height: 70px;
	padding-top: 40px;
}

ul.modelo_camiones{
	width: 352px;
	overflow: hidden;
	float: left;
}
ul.modelo_camiones li{
	width: 82px;
	height: auto;
	float: left;
	margin: 10px 3px 15px 3px;
}
ul.modelo_camiones li.clear{
	clear: none;
}
ul.modelo_camiones li.clear_b{
	clear: both;
}
ul.modelo_camiones li img{
	width: 100%;
	display: block;
}



/****************************/
/*-----PÁGINA VEHICULOS-----*/
/****************************/
#vehiculos{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	background:url(../img/vehiculos/fondo.jpg) 50% 0 no-repeat #000000;
}
.ventana_vehiculos{
	width: 480px;
	min-height: 400px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background: url(../img/vehiculos/fondo-vehiculos.jpg) no-repeat center 90px;
	background-size: 100%;
}
.vehiculo_kenworth, .vehiculo_daf, .vehiculo_iveco{
	width: 33.33%;
	height: 90px;
	float: left;
	background: rgba(255, 255, 255, .6);
}
.logo_vehiculo{
	width: 100%;
	height: 60px;
}
.vehiculo_kenworth .logo_vehiculo{
	height: 58px;
	padding: 2px 0 0 0;
	background: rgba(255, 255, 255, .25);
}
.vehiculo_daf .logo_vehiculo{
	background: rgba(40, 30, 25, .15);
}
.vehiculo_iveco .logo_vehiculo{
	background: rgba(40, 30, 25, .25);
}
.logo_vehiculo img{
	display: block;
	margin: 0 auto;
}
.vehiculo_kenworth .logo_vehiculo img{
	width: 80%;
}
.vehiculo_daf .logo_vehiculo img{
	width: 50%;
}
.vehiculo_iveco .logo_vehiculo img{
	width: 80%;
}


ul.modelo_vehiculo{
	width: 100%;
	height: 30px;
}
ul.modelo_vehiculo li.elegir{
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
	width: 100%;
	height: 30px;
}
ul.modelo_vehiculo li.elegir a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 15px;
	text-decoration: none;
	color: #000000;
	width: 100%;
	height: 30px;
	display: block;
}

ul.modelo_vehiculo li.elegir ul{
	width: 90px;
	margin: 0 auto;
	padding: 7px;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	display: none;
}



/*************************/
/*-----PÁGINA USADOS-----*/
/*************************/
#usados{
	width: 100%;
	height: 640px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usados/fondo.jpg) 50% 0 no-repeat #000000;
}
#usados .titulo{
	float: left;
	margin: 20px 0 0 0;
}
#usados .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 38px;
	text-transform: uppercase;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	line-height: .95;
	color: #FFFFFF;
}
#usados .titulo h2 span.grande{
	font-size: 45px;
}
#usados .titulo h2 span.rojo{
	font-size: 55px;
	color: #E60004;
}
#usados .fotos img.camiones-uno{
	width: 100%;
	position: absolute;
	top: 255px;
	left: 5px;
}
#usados .fotos img.camiones-dos{
	width: 80%;
	position: absolute;
	top: 355px;
	right: 5px;
	display: none;
}

ul.lista_usados{
	width: 100%;
}
ul.lista_usados li{
	width: 100%;
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	background: url(../img/usados/borde.png) no-repeat bottom;
}
ul.lista_usados li .mod-prec-soli{
	width: 180px;
	float: left;
	margin: 0 15px 0 0;
}
ul.lista_usados li .mod-prec-soli img{
	width: 100%;
	display: block;
}
ul.lista_usados li .mod-prec-soli .foto-camion{
	margin: 0 0 10px 0;
}
ul.lista_usados li .mod-prec-soli p.precio{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	color: #FFFFFF;
	height: 60px;
	width: 180px;
	margin: 0 0 10px 0;
	background: #D26776;
}
ul.lista_usados li .mod-prec-soli p.precio span{
	font-size: 25px;
}
ul.lista_usados li .mod-prec-soli a.solicite-informacion{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3;
	color: #FFFFFF;
	height: 50px;
	width: 180px;
	display: block;
	padding: 10px 0 0 0;
	background: #758AA2;
}


ul.lista_usados li .info-camion{
	width: 285px;
	min-height: 293px;
	overflow: hidden;
	float: right;
	position: relative;
}
ul.lista_usados li .info-camion h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	margin: 0 0 15px 0;
}
ul.lista_usados li .info-camion .datos{
	width: 100%;
	float: none;
}
ul.lista_usados li .info-camion .datos p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 18px;
	margin: 0 0 5px 0;
}

ul.lista_usados li .info-camion .lista-fotos{
	width: 100%;
	height: auto;
	overflow: hidden;
	float: none;
	margin: 20px 0 0 0;
	position: inherit;
	bottom: inherit;
}
ul.lista_usados li .info-camion .lista-fotos img{
	float: left;
	margin: 0 10px 10px 0;
}



/**********************/
/*-----PIE PÁGINA-----*/
/**********************/
#piepagina{
	height: 80px;
	padding-top: 20px;
	z-index: 9999999;
	background: #000000;
}
#piepagina img{
	display: block;
	margin: 0 auto 10px auto;
}
#piepagina p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 15px;
	text-align: center;
	color: #B6B6B6;
	display: block;
	float: none;
	position: inherit;
	left: inherit;
	top: inherit;
}
#piepagina .contenedor_pie{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
}






























@media screen and (max-width: 479px){

.contenedor_full{
	width: 100%;
	height: 470px;
	margin: 0 auto;
	position: relative;
}
.contenedor{
	min-width: 300px;
	width: 300px;
	margin: 0 auto;
	position: relative;
}
.fondo_blanco{
	width: 100%;
}
a.flecha_bajar{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 41.5%;
	z-index: 999999;
	transition: bottom .3s;
	-webkit-transition: bottom .3s;
	-moz-transition: position .3s;
	-o-transition: position .3s;
	-ms-transition: position .3s;
}


/*-----MENU-----*/
.inner-header{
	margin: 0 auto;
	position: relative;
}
#cabecera{
	overflow: inherit;
	margin: 0;
	padding: 15px 10px 10px 10px;
	position: relative;
	background: rgba(0, 0, 0, .35);
}
#cabecera h1 a.logo{
	width: 124px;
	height: 36px;
	display: block;
	margin: 0 auto;
	text-indent: -999999px;
	position: absolute;
	top: -90px;
	left: 30%;
	background: url(../img/logo.jpg) no-repeat;
	background-size: 100%;
}

ul.links{
	width: auto;
	display: block;
	overflow: hidden;
	margin: 40px auto 5px auto;
	padding: 0;
}
ul.links li{
	float: left;
}
ul.links li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	width: 100px;
	display: block;
	margin: 5px 0;
}
ul.links a.ingresar{
	color: #FFFFFF;
	margin-right: 0;
}

ul.redes-sociales{
	width: 78px;
	float: none;
	margin-top: 0;
	margin-right: 0;
	position: absolute;
	top: 7px;
	right: 7px;
}
ul.redes-sociales .facebook, ul.redes-sociales .youtube{
	background: url(../img/facebook.png) no-repeat;
	height: 28px;
	width: 28px;
	margin-left: 10px;
	display: block;
	float: left;
}
ul.redes-sociales .youtube{
	background: url(../img/youtube.png) no-repeat;
}

.nav-collapse{
	height: auto;
	width: 100%;
	position: absolute;
	float: none;
	background: none;
}
.nav-collapse ul {
	float: none;
	overflow: hidden;
	margin: 0;
	padding: 0 10px 10px 10px;
}

.nav-collapse li {
	width: 100%;
	float: none;
	padding: 8px 0;
	border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.nav-collapse li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	color: #FFFFFF;
	float: none;
	display: block;
	margin-left: 0;
}
.nav-collapse li a.ultimo{
	margin-right: 0
}


/****************/
/*-----HOME-----*/
/****************/
/*-----SLIDER-----*/
.slogan{
	position: absolute;
	top: 35%;
	left: 17%;
	margin: 0 0 0 40px;
	z-index: 90;
}
.slogan h2{
	font-family: 'RobotoBlack';
	font-size: 32px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: -2px;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	line-height: .8;
	color: #e60004;
}
.slogan h2 span{
	font-family: 'RobotoBold';
	font-size: 27px;
	color: #fff;
}
#slider{
	width: 100%;
	height: 470px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#slider img.foto_novedades{
	width: 100%;
	min-height: 470px;
	display: block;
}
#slider img.foto_novedades{
	width: 100%;
	min-height: 650px;
	display: block;
}
.rsABlock.img.camion_novedad_uno{
	top: 28%;
	right: -35%;
	margin: 0 0 0 -1030px;
}
.rsABlock.img.camion_novedad_dos{
	top: 23%;
	right: -38%;
	margin: 0 0 0 -700px;
}
.rsABlock.img.camion_novedad_tres{
	top: -15%;
	right: -70%;
	margin: 0 0 0 -1500px;
}
.rsContent .bg{
	width:100%;
	height:470px;
}
.rsABlock.img{
	left: 50%;
	top: 220px;
	position: absolute;
	z-index: 15;
	margin: 0 0 0 -50%;
}
/*
.rsArrow{
	width: 26px; 
	height: 75px;
	background-size: 200%;
}
.rsArrow.rsArrowLeft{
	left:2%;
}
.rsArrow.rsArrowRight{
	background-position:-26px 0;
	right:2%;
}*/
.rsArrow{
	display: none !important;
}
.rsBullets{
	display: block;
	position: absolute;
	z-index: 99999999999999999;
	top: 85%;
	left: 20%;
}
.rsBullet{
	float: left;
	padding: 3px;
	cursor: pointer;
}
.rsBullet span{
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
}
.rsNavSelected span{
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
}
.marcas{
	background: url(../img/home/bg-marcas.png) no-repeat center;
	display: block;
	width: 300px;
	height: 35px;
	position: absolute;
	left: 0%;
	padding-top: 4px;
	top: 420px !important;
	z-index: 99999;
}
.marcas ul{
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
}
.marcas ul li{
	float: left;
}
.marcas ul li a{
	display: block;
	width: 71px;
	height: 31px;
	margin: 0 2px;
}
.marcas ul li a img{
	width: 100%;
	display: block;
}


/*-----VISTA 2-----*/
#vista2{
	color: #FFFFFF;
	height: 791px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 9999999;
	background: url(../img/fondo3.jpg) 50% 0 repeat;
}
.relativo{
	height: 791px;
	overflow: hidden;
	position: relative;
}
.slogan2{
	width: 230px;
	display: block;
	margin-top: 40px;
	position: absolute;
	left: 2%;
	z-index: 100000;
}
.slogan2 h2{
	background: url(../img/home/motored-parts.png) no-repeat;
	background-size: 100%;
	height:75px;
	width: 200px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	line-height: .8;
	margin-bottom: 10px;
}
.slogan2 h3{
	font-family: 'RobotoBlack';
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan2 h3 span{
	font-size: 32px;
	text-transform: uppercase;
	color: #6abbc5;
}
.producto1{
	display: block;
	width: 122px;
	position: absolute;
	top: 451px !important;
	left: -2px;
}
.producto2{
	display: block;
	width: 140px;
	position: absolute;
	top: 180px !important;
	left: 145px;
}
.producto3{
	display: block;
	width: 196px;
	position: absolute;
	top: 614px !important;
	left: -5px;
}
.producto4{
	display: block;
	width: 141px;
	position: absolute;
	top: 220px;
	left: -5px;
}
.producto5{
	display: block;
	width: 159px;
	position: absolute;
	top: 272px;
	left: 145px;
}
.producto6{
	display: block;
	width: 151px;
	position: absolute;
	top: 485px;
	left: 140px;
}
.producto7{
	display: block;
	width: 155px;
	position: absolute;
	top: 345px;
	left: -5px;
}
.producto8{
	display: block;
	width: 160px;
	position: absolute;
	top: 379px;
	left: 145px;
}
.producto9{
	display: block;
	width: 147px;
	position: absolute;
	top: 532px;
	left: -5px;
}
.producto10{
	display: block;
	width: 160px;
	position: absolute;
	top: 660px;
	left: 170px;
}
.producto1  img, .producto2  img, .producto3  img, .producto4  img, .producto5  img, .producto6  img, .producto7  img, .producto8  img, .producto9  img, .producto10  img{
	width: 100%;
	display: block;
}
/*--VISTA 3--*/
#vista3{
	/*background: url(../img/secondBG.jpg) 50% 0 no-repeat fixed;*/
	background: url(../img/secondBG.jpg) 57% 0 repeat;
	color: white;
	height: 695px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#vista3 .bg{
	height: 720px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	top: 40px !important;
	width: 600px;
	/*z-index: 200;
	background: url(../img/llave3.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave3.png) 20% 0 no-repeat;
	z-index:999;
}
#vista3 .bg2{
	/*background: url(../img/llave2.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave2.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	top: 100px !important;
	width: 500px;
	z-index: 200;
}
#vista3 .bg3{
	/*background: url(../img/llave1.png) 50% 0 no-repeat fixed;*/
	background: url(../img/llave1.png) 50% 0 no-repeat;
	height: 679px;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	width: 400px;
	z-index: 200;
}
.slogan3{
	display: block;
	width: 300px;
	top: 165px;
	position: absolute;
	top: 170px !important;
}
.slogan3 h2{
	background: url(../img/home/motores-service.png) no-repeat;
	height:75px;
	width: 222px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	margin-bottom: 30px;
}
.slogan3 h3{
	font-family: 'RobotoBlack';
	font-size: 28px;
	text-transform: uppercase;
	line-height: 29px;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan3 h3 span{
	color: #ed1c24;
	font-size: 50px;
}
.slogan3 h3 span strong{
	color: #ed1c24;
	font-size: 28px;
	margin-bottom: -29px;
	display: block;
}

/***************************/
/*-----PÁGINA NOSOTROS-----*/
/***************************/
#nosotros .titulo{
	width: 100%;
	float: right;
	margin-right: 0;
	margin-top: 30px;
	position: relative;
}

#nosotros .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
.bloque_nosotros{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 30px 0 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_nosotros .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;	
	display: none;
}
.bloque_nosotros .foto img{
	width: 100%;
	display: block;
}
.bloque_nosotros .texto_nosotros{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.bloque_nosotros .texto_nosotros.m_top_60{
	margin-top: 0;
}
.bloque_nosotros h1.m_top_60{
	margin-top: 0;
}
.bloque_nosotros .texto_nosotros p.m_bottom_30{
	margin-bottom: 0;
}
.bloque_nosotros .texto_nosotros a.btn{
	float: none;
	margin: 0;
}
h1.right, h2.right, h3.right, p.right{
	text-align: left;
}
h1.left, h2.left, h3.left, p.left{
	text-align: left;
}
h1.center{
	text-align: left;
}
ul.lista_gente{
	width: 100%;
	padding-bottom: 0;
}
ul.lista_gente li{
	font-size: 14px;
	text-align: left;
	line-height: 1.5;
}


/***************************/
/*-----PÁGINA NOTICIAS-----*/
/***************************/
#noticias{
	width: 100%;
	height: 470px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	/*background:url(../img/noticias.jpg) 50% 0 no-repeat #000000;*/
}
#noticias .titulo{
	/*float: right;
	margin-right: 50px;
	margin-top: 30px;*/
	position: absolute;
	top: 30%;
	left: 17%;
}
#noticias .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 55px;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
ul.lista_noticias li p.fecha{
	font-family: 'RobotoBoldCondensed';
	font-size: 20px;
	text-transform: uppercase;
	width: auto;
	margin-bottom: 10px;
	padding-left: 0;
}
ul.lista_noticias li .noticia{
	width: 100%;
}

/*************************/
/*-----PÁGINAS PARTS-----*/
/*************************/
h2.parts{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	width: 280px;
	margin: 0 auto 40px auto;
	padding: 0 10px;
}
#parts .filtro_parts{
	width: 190px;
	float: none;
	margin: 30px auto 0 auto;
	position: inherit;
	left: inherit;
	top: inherit;
}
#parts .filtro_parts p{
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}
#parts .filtro_parts p span{
	text-shadow: none;
}
#parts .filtro_parts form#fparts select{
	width: 99%;
	height: 30px;
	border: 1px solid #A0A0A0;
	text-transform: uppercase;
	color: #B4B4B4;
}
#parts .titulo{
	width: 270px;
	height: 240px;
	float: right;
	position: relative;
	display: none;
}
#parts .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 23px;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
	color: #FFFFFF;
	position: absolute;
	top: 110px;
	right: 30px;
}
ul.lista_repuestos{
	width: 280px;
	margin: 0 auto;
	padding: 0;
}
ul.lista_repuestos li{
	width: 280px;
	margin-bottom:  20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #C3C3C3;
}
ul.lista_repuestos li .datos{
	width: 160px;
	float: left;
	padding-right: 10px;
}
ul.lista_repuestos li .foto{
	width: 100px;
}
ul.lista_repuestos li .foto img{
	width: 100%;
	display: block;
}
ul.lista_repuestos li a.btn_continuar_busqueda{
	font-family: 'RobotoBlack';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 120px;
	height: 35px;
	display: block;
	padding: 10px 0 0 0;
	background: #758AA2;
}
ul.lista_repuestos li a.btn_ir{
	font-family: 'RobotoBlack';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 45px;
	color: #FFFFFF;
	height: 45px;
	display: block;
	padding: 0 10px;
	background: #758AA2;
}


/**************************/
/*-----PÁGINA SERVICE-----*/
/**************************/
.bloque_service .foto{
	width: 48%;
	padding: 0 1%;
	display: none;
}
.bloque_service .foto img{
	width: 100%;
	display: block;
}
.bloque_service a.btn{
	float: left;
}
.bloque_service .texto_service{
	width: 98%;
	padding: 0 1%;
}
.bloque_service .texto_service h1.p_top_30{
	padding-top: 0;
}
.bloque_service .texto_service img{
	margin-top: 0;
	margin-bottom: 10px;
}
.bloque_service .texto_service.m_top_100{
	margin-top: 0;
}



/*****************************/
/*-----PÁGINA CAMIONCITO-----*/
/*****************************/
#camioncito{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 0 50px 0;
	background:url(../img/camioncito.jpg) 50% 0 no-repeat #000000;
}
.ventana_camioncito{
	width: 280px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px 10px 30px 10px;
	border-top: 20px solid #BE1B1E;
	background: rgba(255, 255, 255, .8); 
}
.ventana_camioncito h2{
	font-family: 'RobotoBlack';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0 5px;
}


ul.lista_repuestos li input[type="button"].pedir_cotizacion{
	height: 45px;
	margin-top: 0;
	padding: 0 10px;
	font-size: 14px;
}


/*********************************/
/*-----PÁGINA VALOR AGREGADO-----*/
/*********************************/
#valor_agregado .titulo{
	float: none;
	margin-top: 30px;
	margin-right: 0;
	position: relative;
}
#valor_agregado .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	line-height: .65;
	color: #ED1C24;
}
#valor_agregado .titulo h2 span{
	font-family: 'RobotoBold';
	font-size: 25px;
	color: #FFFFFF;
	float: none;
	margin-right: 0;
	
}
ul.sub_menu{
	width: 100%;
	float: none;
	margin-left: 0;
	margin-bottom: 30px;
	border-top: 1px solid #000000;
}
ul.sub_menu li{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #000000;
}
ul.sub_menu li a{
	font-family: 'RobotoBoldCondensed';
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
ul.sub_menu li ul{
	padding-left: 0;
}
ul.sub_menu li ul li{
	width: auto;
	margin: 10px 0;
	padding: 0 ;
	border: none;
}
ul.sub_menu li ul li a{
	font-family: 'HelveticaMediumCondensed';
	text-transform: inherit;
	color: #646464;
}
.valor_agregado h1{
	font-family: 'HelveticaMediumCondensed';
	font-size: 20px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 15px;
}
.valor_agregado p{
	font-size: 14px;
	text-align: justify;
	line-height: 1.4;
}
.contenido{
	width: 100%;
	float: none;
	padding: 0;
}



/***************************/
/*-----PÁGINA UBÍCANOS-----*/
/***************************/
#ubicanos{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/ubicanos.jpg) 50% 0 no-repeat #000000;
}
#ubicanos .titulo{
	float: none;
	margin-right: 0;
	margin-top: 30px;
	position: relative;
}
#ubicanos .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -4px;
	color: #ED1C24;
}
.cuadro_ubicanos{
	width: 280px;
	height: auto;
	max-height: none;
	overflow: hidden;
	clear: both;
	margin: 20px auto 0 auto;
	padding: 10px 10px 10px 10px;
	border-top: 20px solid rgba(120, 150, 170, 0.7);
	background: rgba(255, 255, 255, .7);
}
.cuadro_ubicanos iframe{
	width: 100%;
}
.cuadro_ubicanos .bloque_izq{
	width: 100%;
	float: none;
	margin-bottom: 10px;
	overflow: hidden;
}
.cuadro_ubicanos .bloque_der{
	width:100%;
	float: none
}
.cuadro_ubicanos .mapa{
	width: 280px;
	overflow: hidden;
	position: inherit;
	bottom: inherit;
}
#desplegable{
	width: 100%;
	float: none;
}
#desplegable a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #3C3C3C;
}
#desplegable a.secundario{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	text-decoration: none;
	text-transform: inherit;
	line-height: 1.2;
	color: #3C3C3C;
	width: 100%;
	display: block;
	margin-bottom: 3px;
}
ul.lista_direcciones{
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
}
ul.lista_direcciones li{
	margin-bottom: 25px;
}
ul.lista_direcciones li p{
	font-size: 14px;
	line-height: 1.4;
}
ul.lista_direcciones li a.btn{
	font-size: 14px;
	text-transform: inherit;
	color: #008EF1;
}




/******************************/
/*-----PÁGINA CONTACTANOS-----*/
/******************************/
#contactanos{
	width: 100%;
	height: 950px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/contactanos.jpg) 50% 0 no-repeat #000000;
}
.contenedor_formulario{
	width: 280px;
	overflow: hidden;
	margin: 20px auto;
	padding: 15px 10px;
	position: relative;
	border-top: 20px solid #ED1C24;
	background: rgba(255, 255, 255, .7);
}
.contenedor_formulario .linea{
	width: 1px;
	height: 223px;
	position: absolute;
	top: 20px;
	left: 50%;
	background: #A0A0A0;
	display: none;
}
.contenedor_formulario .bloque_izq{
	width: 100%;
	float: none:;
}
.contenedor_formulario .bloque_der{
	width: 100%;
	float: none;
}
.contenedor_formulario .fila{
	margin: 0 0 5px 0;
}
.datos_contacto{
	width: 300px;
	margin: 20px auto;
	padding: 0;
}
textarea{
	height: 70px;
	max-height: 70px;
}

/*******************************/
/*-----PÁGINA CREAR CUENTA-----*/
/*******************************/
#crear_cuenta{
	width: 100%;
	height: 885px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/crear-cuenta.jpg) 50% 0 no-repeat #000000;
}
#fcrearcuenta .fila_absolute{
	position:  absolute;
}


/**************************/
/*-----PÁGINA USUARIO-----*/
/**************************/
#usuario{
	width: 100%;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usuario.jpg) 50% 0 no-repeat #000000;
}
#usuario .bloque_izq{
	width: 100%;
	overflow: hidden;
	float: none;
	margin-bottom: 20px;
}
#usuario .bloque_der{
	width: 100%;
	overflow: hidden;
	float: none;
}
#usuario a.olvido{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-decoration: none;
	color: #ED1C24;
}
#fusuario{
	overflow: hidden;
}
#fusuario label{
	color: #969696;
}
#fusuario p{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	color: #787878;
}
#fusuario p span{
	font-family: 'RobotoBlack';
	font-size: 22px;
	color: #000000;
}
#fusuario p span.rojo{
	color: #ED1C24;
}
#fusuario .texto_cuenta{
	margin-top: 10px;
	margin-bottom: 5px;
}
#folvido input[type="email"]{
	width: 94%;
}


/**************************/
/*-----PÁGINA GALERIA-----*/
/**************************/
#galeria{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/galeria.jpg) 50% 0 no-repeat #000000;
}
#galeria .titulo{
	float: none;
	margin-right: 0;
	margin-top: 30px;
	position: relative;
}
#galeria .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	letter-spacing: -2px;
	color: #ED1C24;
}
.contenedor_filtro{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.contenedor_filtro h3{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	float: none;
	margin-bottom: 15px;
}
/*--FILTRO--*/
ul.filtro{
	width: 300px;
	overflow: hidden;
	float: none;
	padding: 0;
}
/*--PORTAFOLIO--*/
ul.portafolio{
	width: 300px;
	height: auto !important;
	overflow: hidden;
}
ul.portafolio li { 
	width: 300px;
	float: left; 
	margin-right: 0; 
	margin-left: 0;
	margin-bottom: 20px; 
}
ul.filtro a { 
	font-family: 'HelveticaMediumCondensed';
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none; 
	color: #000000; 
	padding: 0 12px; 
}
ul.portafolio img { 
	width: 100%; 
	height: auto; 
	display: block; 
}
ul.portafolio a { 
	display: block; 
	text-decoration: none; 
}


/*--FILTRO VIDEOS--*/
ul.filtro_videos{
	width: 300px;
	overflow: hidden;
	float: none;
	padding: 0;
}
ul.filtro_videos a { 
	font-family: 'HelveticaMediumCondensed';
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none; 
	color: #000000; 
	padding: 0 12px; 
}
/*--PORTAFOLIO--*/
ul.videos{
	width: 300px;
	height: auto !important;
	overflow: hidden;
}
ul.videos li { 
	width: 300px;
	float: left; 
	margin-right: 0; 
	margin-left: 0;
	margin-bottom: 20px; 
}
ul.videos img { 
	width: 100%; 
	height: auto; 
	display: block; 
}

/**************************/
/*-----PÁGINA GRACIAS-----*/
/**************************/
#gracias h2{
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 20px;
}
#gracias .btn_menu p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 16px;
	text-transform: uppercase;
	line-height: 25px;
	color: #FFFFFF;
	display: block;
	float: left;
	margin-left: 5px;
}

/****************************/
/*-----PÁGINA PRODUCTOS-----*/
/****************************/
#productos .titulo{
	position: absolute;
	top: 215px;
	left: 7%;
}
#productos .titulo img{
	display: block;
	float: right;
	margin-bottom: 5px;
}
#productos .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 85px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	color: #FFF01E;
}
#productos .titulo p{
	font-family: 'RobotoBold';
	font-size: 20px;
	text-align: right;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	line-height: 1.1;
	color: #FFFFFF;
}
#productos .descarga_cotiza{
	background: url(../img/productos/fondo_selectores.png) no-repeat center;
	display: block;
	width: 300px;
	height: 68px;
	position: absolute;
	left: .5%;
	top: 550px;
	padding-top: 7px;
	z-index: 99999;
}
.bloque_producto{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_producto .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
	display: none;
}
.bloque_producto .foto img{
	width: 100%;
	display: block;
}
.bloque_producto .texto_producto{
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .texto_producto h1.p_top_60{
	padding-top: 0;
}
.bloque_producto .texto_producto h1.p_top_70{
	padding-top: 0;
}
.bloque_producto .texto_producto h1.p_top_80{
	padding-top: 0;
}
.bloque_producto .texto_producto h1.p_top_20{
	padding-top: 0;
}



/*************************/
/*-----PÁGINA GRILLA-----*/
/*************************/
#grilla{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/grilla.jpg) 50% 0 no-repeat #000000;
}
.contenedor_grilla{
	width: 300px;
	overflow: hidden;
	margin: 15px auto;
	background: rgba(220, 220, 220, .6);
}
.cabecera_grilla h3.industria{
	font-family: 'HelveticaMediumCondensed';
	font-size: 11px;
	text-align: center;
	text-transform: none;
	line-height: 25px;
	color: #000000;
	width: 240px;
	float: left;
}
.cabecera_grilla h3.combustible{
	font-family: 'HelveticaMediumCondensed';
	font-size: 11px;
	text-align: center;
	text-transform: none;
	line-height: 25px;
	color: #000000;
	width: 60px;
	float: left;
}
ul.filtros_grilla{
	width: 100%;
	overflow: hidden;
}
ul.filtros_grilla li{
	width: auto;
}
ul.filtros_grilla li ul.lista_industria{
	width: 240px;
	min-height: 25px;
	float: left;
	padding-top: 10px;
	background: #D2DCD7;
}
ul.filtros_grilla li ul.lista_industria li{
	width: 75px;
	max-width: 77px;;
	float: left;
	overflow: hidden;
	margin: 0 2px 10px;
}
ul.filtros_grilla li ul.lista_industria li label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 8px;
	margin-right: 0;
}

ul.filtros_grilla li ul.lista_combustible{
	width: 60px;
	min-height: 25px;
	float: left;
	padding-top: 10px;
	background: none;
}
ul.filtros_grilla li ul.lista_combustible li{
	width: 50px;
	float: left;
	overflow: hidden;
	margin: 0 5px 15px;
}


.marcas_grilla{
	width: 100%;
	float: none;
	overflow: hidden;
	background: #FFFFFF;
}
.marcas_grilla img{
	width: 65%;
	display: block;
}
.marcas_grilla .kenworth{
	width: 33.3%;
	height: 30px;
	float: left;
	padding-top: 20px;
}
.marcas_grilla .iveco{
	width: 33.3%;
	height: 30px;
	float: left;
	padding-top: 20px;
}
.marcas_grilla .daf{
	width: 33.3%;
	height: 33px;
	float: left;
	padding-top: 17px;
}

ul.modelo_camiones{
	width: 300px;
	overflow: hidden;
	float: left;
}
ul.modelo_camiones li{
	width: 94px;
	height: auto;
	float: left;
	margin: 10px 3px 15px 3px;
}
ul.modelo_camiones li.clear{
	clear: none;
}
ul.modelo_camiones li.clear_b{
	clear: both;
}
ul.modelo_camiones li img{
	width: 100%;
	display: block;
}


/****************************/
/*-----PÁGINA VEHICULOS-----*/
/****************************/
#vehiculos{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	background:url(../img/vehiculos/fondo.jpg) 50% 0 no-repeat #000000;
}
.ventana_vehiculos{
	width: 300px;
	min-height: 400px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background: url(../img/vehiculos/fondo-vehiculos.jpg) no-repeat center 90px;
	background-size: 100%;
}
.vehiculo_kenworth, .vehiculo_daf, .vehiculo_iveco{
	width: 33.33%;
	height: 90px;
	float: left;
	background: rgba(255, 255, 255, .6);
}
.logo_vehiculo{
	width: 100%;
	height: 60px;
}
.vehiculo_kenworth .logo_vehiculo{
	height: 58px;
	padding: 2px 0 0 0;
	background: rgba(255, 255, 255, .25);
}
.vehiculo_daf .logo_vehiculo{
	background: rgba(40, 30, 25, .15);
}
.vehiculo_iveco .logo_vehiculo{
	background: rgba(40, 30, 25, .25);
}
.logo_vehiculo img{
	display: block;
	margin: 0 auto;
}
.vehiculo_kenworth .logo_vehiculo img{
	width: 80%;
}
.vehiculo_daf .logo_vehiculo img{
	width: 50%;
}
.vehiculo_iveco .logo_vehiculo img{
	width: 80%;
}


ul.modelo_vehiculo{
	width: 100%;
	height: 30px;
}
ul.modelo_vehiculo li.elegir{
	text-align: center;
	text-transform: uppercase;
	line-height: 30px;
	width: 100%;
	height: 30px;
}
ul.modelo_vehiculo li.elegir a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	width: 100%;
	height: 30px;
	display: block;
}
ul.modelo_vehiculo li.elegir ul li a{
	font-size: 12px;
	color: #FFFFFF;
	height: 25px;
	line-height: 25px;
}

ul.modelo_vehiculo li.elegir ul{
	width: 90px;
	margin: 0 auto;
	padding: 7px;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	display: none;
}




/*************************/
/*-----PÁGINA USADOS-----*/
/*************************/
#usados{
	width: 100%;
	height: 550px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background:url(../img/usados/fondo.jpg) 50% 0 no-repeat #000000;
}
#usados .titulo{
	float: left;
	margin: 20px 0 0 0;
}
#usados .titulo h2{
	font-family: 'RobotoBlack';
	font-size: 32px;
	text-transform: uppercase;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	line-height: .95;
	color: #FFFFFF;
}
#usados .titulo h2 span.grande{
	font-size: 35px;
}
#usados .titulo h2 span.rojo{
	font-size: 45px;
	color: #E60004;
}
#usados .fotos img.camiones-uno{
	width: 100%;
	position: absolute;
	top: 285px;
	left: 0;
}
#usados .fotos img.camiones-dos{
	width: 80%;
	position: absolute;
	top: 355px;
	right: 5px;
	display: none;
}

ul.lista_usados{
	width: 100%;
}
ul.lista_usados li{
	width: 100%;
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	background: url(../img/usados/borde.png) no-repeat bottom;
}
ul.lista_usados li .mod-prec-soli{
	width: 100%;
	float: none;
	margin: 0 0 20px 0;
}
ul.lista_usados li .mod-prec-soli img{
	width: 100%;
	display: block;
}
ul.lista_usados li .mod-prec-soli .foto-camion{
	margin: 0 0 10px 0;
}
ul.lista_usados li .mod-prec-soli p.precio{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	color: #FFFFFF;
	height: 60px;
	width: 100%;
	margin: 0 0 10px 0;
	background: #D26776;
}
ul.lista_usados li .mod-prec-soli p.precio span{
	font-size: 25px;
}
ul.lista_usados li .mod-prec-soli a.solicite-informacion{
	font-family: 'RobotoBlack';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3;
	color: #FFFFFF;
	height: 50px;
	width: 100%;
	display: block;
	padding: 10px 0 0 0;
	background: #758AA2;
}


ul.lista_usados li .info-camion{
	width: 100%;
	min-height: 293px;
	overflow: hidden;
	float: none;
	position: relative;
}
ul.lista_usados li .info-camion h2{
	font-family: 'HelveticaMediumCondensed';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	margin: 0 0 15px 0;
}
ul.lista_usados li .info-camion .datos{
	width: 100%;
	float: none;
}
ul.lista_usados li .info-camion .datos p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 18px;
	margin: 0 0 5px 0;
}

ul.lista_usados li .info-camion .lista-fotos{
	width: 100%;
	height: auto;
	overflow: hidden;
	float: none;
	margin: 20px 0 0 0;
	position: inherit;
	bottom: inherit;
}
ul.lista_usados li .info-camion .lista-fotos img{
	float: left;
	margin: 0 10px;
}





/**********************/
/*-----PIE PÁGINA-----*/
/**********************/
#piepagina{
	height: 80px;
	padding-top: 20px;
	z-index: 9999999;
	background: #000000;
}
#piepagina img{
	display: block;
	margin: 0 auto 10px auto;
}
#piepagina p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 15px;
	text-align: center;
	color: #B6B6B6;
	display: block;
	float: none;
	position: inherit;
	left: inherit;
	top: inherit;
}
#piepagina .contenedor_pie{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	position: relative;
}



}