@media screen and (max-width: 1000px) and (min-width: 769px){
.fondo_blanco{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
	background: #FFFFFF;
}
.contenedor{
	min-width: 768px;
	width: 768px;
	margin: 0 auto;
	position: relative;
}

/****************/
/*-----MENU-----*/
/****************/
ul.links{
	display: block;
	float: right;
	margin-top: 20px;
}
ul.links li{
	float: left;
}
ul.links li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	display: block;
	margin:0 15px;

}
ul.links a.ingresar{
	color: #FFFFFF;
	margin-right: 17px;
}
.nav-collapse{
	height: 55px;
	width: 581px;
	float: right;
	background: url(../img/bg-black.png) repeat;
}
.nav-collapse ul{
	float: right;
	overflow: hidden;
}
.nav-collapse li{
	float: left;
}
.nav-collapse li a{
	font-family: 'HelveticaMediumCondensed';
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 55px;
	color: #FFFFFF;
	float: left;
	display: block;
	margin-left: 14px;
}
.nav-collapse li a.ultimo{
	margin-right: 15px;
}

ul.redes-sociales{
	width: 78px;
	float: right;
	margin-top: 8px;
	margin-right: 15px;
}

/****************/
/*-----HOME-----*/
/****************/
.marcas{
	background: url(../img/home/bg-marcas.png) no-repeat;
	display: block;
	width: 628px;
	height: 66px;
	position: absolute;
	padding-top: 5px;
	top: 550px;
	left: 9.5%;
	z-index: 99999;
}
/*-----SLIDER-----*/
.slogan{
	position: absolute;
	top: 25%;
	left: 47%;
	margin: 0 0 0 40px;
	z-index: 999999999;
}
.slogan h2{
	font-family: 'RobotoBlack';
	font-size: 50px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px gray;
	line-height: .8;
	color: #e60004;
}
.slogan h2 span{
	font-family: 'RobotoBold';
	font-size: 40px;
	color: #fff;
}
#slider{
	width: 100%;
	height: 650px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#slider img.foto_novedades{
	width: 100%;
	min-height: 650px;
	display: block;
}
.rsABlock.img{
	left: 50%;
	top: 175px;
	position: absolute;
	z-index: 15;
	margin: 0 0 0 -420px;
}
.rsArrow.rsArrowLeft{
	left:2%;
}
.rsArrow.rsArrowRight{
	background-position:-55px 0;
	right:2%;
}
/*-----VISTA 2-----*/
#vista2{
	color: #FFFFFF;
	height: 791px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 9999999;
	background: url(../img/fondo3.jpg) 50% 0 repeat;
}
.slogan2{
	width: 230px;
	display: block;
	margin-top: 100px;
	position: absolute;
	left: 2%;
	z-index: 100000;
}
.slogan2 h2{
	background: url(../img/home/motored-parts.png) no-repeat;
	background-size: 100%;
	height:75px;
	width: 200px;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	line-height: .8;
	margin-bottom: 30px;
}
.slogan2 h3{
	font-family: 'RobotoBlack';
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1;
	color: #FFFFFF;
	display: block;
	overflow: hidden;
}
.slogan2 h3 span{
	font-size: 32px;
	text-transform: uppercase;
	color: #6abbc5;
}
.producto1{
	display: block;
	width: 212px;
	position: absolute;
	top: 122px;
	left: 370px;
}
.producto2{
	display: block;
	width: 210px;
	position: absolute;
	top: 195px;
	left: 181px;
}
.producto3{
	display: block;
	width: 216px;
	position: absolute;
	top: 198px;
	left: 561px;
}
.producto4{
	display: block;
	width: 211px;
	position: absolute;
	top: 330px;
	left: -5px;
}
.producto5{
	display: block;
	width: 209px;
	position: absolute;
	top: 333px;
	left: 181px;
}
.producto6{
	display: block;
	width: 211px;
	position: absolute;
	top: 260px;
	left: 370px;
}
.producto7{
	display: block;
	width: 219px;
	position: absolute;
	top: 515px;
	left: -5px;
}
.producto8{
	display: block;
	width: 209px;
	position: absolute;
	top: 467px;
	left: 181px;
}
.producto9{
	display: block;
	width: 207px;
	position: absolute;
	top: 500px;
	left: 371px;
}
.producto10{
	display: block;
	width: 210px;
	position: absolute;
	top: 430px;
	left: 561px;
}
.producto1  img, .producto2  img, .producto3  img, .producto4  img, .producto5  img, .producto6  img, .producto7  img, .producto8  img, .producto9  img, .producto10  img{
	width: 100%;
	display: block;
}

/*-----vista3-----*/
.slogan3{
	display: block;
	width: 342px;
	top: 165px;
	left: 3%;
	position: absolute;
}

/***************************/
/*-----PÁGINA NOSOTROS-----*/
/***************************/
.bloque_nosotros{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 30px 0 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_nosotros .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;	
}
.bloque_nosotros .foto img{
	width: 100%;
	display: block;
}
.bloque_nosotros .texto_nosotros{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}


/***************************/
/*-----PÁGINA NOTICIAS-----*/
/***************************/
#noticias .titulo{
	/*float: right;
	margin-right: 50px;
	margin-top: 30px;*/
	position: absolute;
	top: 25%;
	left: 45.8%;
	z-index: 99;
}
ul.lista_noticias li p.fecha{
	font-family: 'RobotoBoldCondensed';
	font-size: 20px;
	text-transform: uppercase;
	width: 153px;
	padding-left: 15px;
}
ul.lista_noticias li .noticia{
	width: 600px;
}
.rsABlock.img.camion_novedad_uno{
	top: 20%;
	right: -35%;
	margin: 0 0 0 -1030px;
}
.rsABlock.img.camion_novedad_dos{
	top: 20%;
	right: -20%;
	margin: 0 0 0 -900px;
}
.rsABlock.img.camion_novedad_tres{
	top: 25%;
	right: -20%;
	margin: 0 0 0 -1000px;
}



/**************************/
/*-----PÁGINA SERVICE-----*/
/**************************/
.bloque_service .foto{
	width: 48%;
	padding: 0 1%;
}
.bloque_service .foto img{
	width: 100%;
	display: block;
}
.bloque_service .texto_service{
	width: 48%;
	padding: 0 1%;
}
.bloque_service .texto_service img{
	margin-top: 30px;
	margin-bottom: 15px;
}
.bloque_service .texto_service.m_top_100{
	margin-top: 60px;
}


/*********************************/
/*-----PÁGINA VALOR AGREGADO-----*/
/*********************************/
ul.sub_menu{
	width: 180px;
	float: left;
	margin-left: 30px;
	border-top: 1px solid #000000;
}
ul.sub_menu li{
	width: 130px;
	padding: 10px 25px;
	border-bottom: 1px solid #000000;
}
.valor_agregado p{
	font-size: 14px;
	text-align: justify;
	line-height: 1.4;
}
.contenido{
	width: 428px;
	float: right;
	padding: 0 65px;
}

/***************************/
/*-----PÁGINA UBÍCANOS-----*/
/***************************/
.cuadro_ubicanos{
	width: 648px;
	height: 327px;
	max-height: 327px;
	overflow: hidden;
	clear: both;
	margin: 20px auto 0 auto;
	padding: 30px 75px 0 75px;
	border-top: 20px solid rgba(120, 150, 170, 0.7);
	background: rgba(255, 255, 255, .7);
}
.cuadro_ubicanos .bloque_izq{
	width: 198px;
	float: left;
}
.cuadro_ubicanos .bloque_der{
	width: 450px;
	float: right;
}


/**************************/
/*-----PÁGINA GALERIA-----*/
/**************************/
/*--FILTRO--*/
ul.filtro{
	width: 438px;
	overflow: hidden;
	float: left;
	padding: 0 110px ;
}
/*--PORTAFOLIO--*/
ul.portafolio{
	width: 768px;
	overflow: hidden;
}
ul.portafolio li { 
	width: 169px;
	float: left; 
	margin-right: 30px; 
	margin-bottom: 35px; 
}
ul.portafolio img { 
	width: 100%; 
	height: auto; 
	display: block; 
}


/*--FILTRO VIDEOS--*/
ul.filtro_videos{
	width: 438px;
	overflow: hidden;
	float: left;
	padding: 0 125px ;
}
/*--PORTAFOLIO--*/
ul.videos{
	width: 768px;
	overflow: hidden;
}
ul.videos li { 
	width: 169px;
	float: left; 
	margin-right: 30px; 
	margin-bottom: 35px; 
}
ul.videos img { 
	width: 100%; 
	height: auto; 
	display: block; 
}




/****************************/
/*-----PÁGINA PRODUCTOS-----*/
/****************************/
#productos .descarga_cotiza{
	background: url(../img/productos/fondo_selectores.png) no-repeat;
	display: block;
	width: 680px;
	height: 70px;
	position: absolute;
	left: 4.5%;
	top: 550px;
	padding-top: 5px;
	z-index: 99999;
}
.bloque_producto{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #C3C3C3;
}
.bloque_producto .foto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .foto img{
	width: 100%;
	display: block;
}
.bloque_producto .texto_producto{
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.bloque_producto .texto_producto h1.p_top_60{
	padding-top: 30px;
}
.bloque_producto .texto_producto h1.p_top_70{
	padding-top: 20px;
}
.bloque_producto .texto_producto h1.p_top_80{
	padding-top: 50px;
}



/*************************/
/*-----PÁGINA GRILLA-----*/
/*************************/
.contenedor_grilla{
	width: 768px;
	overflow: hidden;
	margin: 15px auto;
	background: rgba(220, 220, 220, .6);
}
.cabecera_grilla h3.industria{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 678px;
	float: left;
}
.cabecera_grilla h3.combustible{
	font-family: 'HelveticaMediumCondensed';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #000000;
	width: 90px;
	float: left;
}
ul.filtros_grilla{
	width: 100%;
	overflow: hidden;
}
ul.filtros_grilla li{
	width: auto;
}
ul.filtros_grilla li ul.lista_industria{
	width: 678px;
	min-height: 25px;
	float: left;
	padding-top: 15px;
	background: #D2DCD7;
}
ul.filtros_grilla li ul.lista_industria li{
	max-width: 80px;
	float: left;
	overflow: hidden;
	margin: 0 2px;
}
ul.filtros_grilla li ul.lista_industria li label{
	font-family: 'HelveticaMediumCondensed';
	font-size: 8px;
	margin-right: 0;
}

ul.filtros_grilla li ul.lista_combustible{
	width: 90px;
	min-height: 25px;
	float: left;
	padding-top: 15px;
	background: none;
}
ul.filtros_grilla li ul.lista_combustible li{
	float: left;
	overflow: hidden;
	margin: 0 3px;
}


.marcas_grilla{
	width: 128px;
	float: left;
	background: #FFFFFF;
}
ul.modelo_camiones{
	width: 640px;
	overflow: hidden;
	float: left;
}
ul.modelo_camiones li{
	width: 100px;
	height: auto;
	float: left;
	margin: 10px 3px 15px 3px;
}



/*************************/
/*-----PÁGINA USADOS-----*/
/*************************/
ul.lista_usados li .mod-prec-soli{
	width: 220px;
	float: left;
	margin: 0 20px 0 0;
}


ul.lista_usados li .info-camion{
	width: 528px;
	min-height: 293px;
	overflow: hidden;
	float: right;
	position: relative;
}




#piepagina p{
	font-family: 'HelveticaMediumCondensed';
	font-size: 12px;
	color: #B6B6B6;
	display: block;
	float: left;
	position: absolute;
	left: 0;
	top: 10px;
}

}